<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>daisy</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" integrity="sha512-oHDEc8Xed4hiW6CxD7qjbnI+B07vDdX7hEPTvn9pSZO1bcRqHp8mj9pyr+8RVC2GmtEfI2Bi9Ke9Ass0as+zpg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./assets/css/base.css">
        <link rel="stylesheet" href="./assets/css/customer.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Sansita+Swashed:wght@800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./assets/fonts/fontawesome-free-6.2.0-web/css/all.css">
    </head>

    <body>
        <div class="main">
            <!--Begin: Header-->
            <div class="grid__full-width">
                <div class="header">
                    <img class="header__logo" src="./assets/image/logo daisy-01.png" alt="">
                   
                    <div class="header__search">
                        <input class="header__search-input" type="text" placeholder="Search">
        
                        <!-- Begin:search-history -->
                        <div class="header__search-history">
                            <h3 class="header__search-history--heading">
                                Lịch sử Tìm kiếm
                            </h3>
                            <ul class="header__search-history--list">
                                <li class="header__search-history--item">
                                    <a class="search-history__item-link" href="">Mien dong</a>
                                </li>
                                <li class="header__search-history-item">
                                    <a class="search-history__item-link" href="">Bun dong</a>
                                </li>
                            </ul>
                        </div>
                        <!--End: search-history-->
                       <button class="header__search-button">
                            <i class="fa fa-solid fa-magnifying-glass header__search-icon"></i>
                       </button>
                    </div>

                    <div class="header__user">
                        <ul class="header__user-list">
                            <li class="header__user-item ">
                                <i class="fa fa-regular fa-bell "></i>
                                <i class="fa-regular fa-cart-shopping-fast"></i>
                            </li>
                            
                            <li class="header__user-item">
                                <i class="fa fa-light fa-cart-shopping"></i>
                             </li>
    
                            <li class="header__user-item">
                                <i class="fa fa-solid fa-user"></i>
                            </li>
                            <!--<button class="user-button">Sign in</button>-->
                        </ul>
                    </div>
                </div>
            </div>
            <!--End: Header-->

            <!--Begin: Content-->
            <div class="content">
                <div class="content__side-bar">
                    <img class="user-avatar" src="./assets/image/download.jpeg" alt="">

                    <button class="content__side-bar--button">Đổi ảnh đại diện</button>

                    <div class="content__side-bar--choice-list">
                        <button class="content__side-bar--choice active">
                            <i class="fa-solid fa-user content__side-bar--ic"></i>
                            Thông tin cá nhân
                        </button>
                        <button class="content__side-bar--choice">
                            <i class="fa-solid fa-location-dot content__side-bar--ic"></i>
                            Địa chỉ nhận hàng
                        </button>
                        <button class="content__side-bar--choice">
                            <i class="fa-solid fa-building-columns content__side-bar--ic"></i>
                            Ngân hàng liên kết
                        </button>
                        <button class="content__side-bar--choice">
                            <i class="fa-solid fa-box content__side-bar--ic"></i>
                            Quản lý đơn hàng
                        </button>
                        <button class="content__side-bar--choice">
                            <i class="fa-solid fa-key content__side-bar--ic"></i>
                            Đổi mật khẩu
                        </button>
                        <button class="content__side-bar--choice">
                            <i class="fa-solid fa-ticket content__side-bar--ic"></i>
                            Kho voucher</button>
                        <button class="content__side-bar--choice-btn">
                            <i class="fa-solid fa-right-from-bracket content__side-bar--ic"></i>
                            Đăng xuất</button>
                    </div>
                </div>

                <div class="content__form">
                    <form class="content__form-userinfo js-content-form on" method="post">
                        <div class="content__form-col"> 
                            <div class="content__form-head">
                                <li class="content__form--info">Tên đăng nhập: </li>
                                <li class="content__form--info">Họ:</li>
                                <li class="content__form--info">Tên đệm & Tên:</li>
                                <li class="content__form--info">Ngày sinh:</li>
                            </div>
    
                            <div class="content__form-space">
                                <input type="text" id="" class="content__form--input" placeholder="" name="username">
                                <input type="text" id="" class="content__form--input" placeholder="" name="firstname">
                                <input type="text" id="" class="content__form--input" placeholder="" name="lastname">
                                <input type="date" id="" class="content__form--input" placeholder="" name="birth">
                            </div>
                        </div>
    
    
                        <div class="content__form-col">
                            <div class="content__form-head">
                                <li class="content__form--info">Giới tính:</li>
                                <li class="content__form--info">Email:</li>
                                <li class="content__form--info">Số điện thoại: </li>
                                <button class="content__form-button">Lưu thay đổi</button>
                            </div>
    
                            <div class="content__form-space">
            
                                <input type="radio" id="gender-male" class="content__form--input" placeholder="" name="gender" checked> Nam
                                <input type="radio" id="" class="content__form--input" placeholder="" name="gender"> Nữ
                                <input type="radio" id="gender-others" class="content__form--input" placeholder="" name="gender"> Khác
        
                                <input type="text" id="" class="content__form--input" placeholder="" name="mail">
                                <input type="number" id="" class="content__form--input" placeholder="" name="phone">
                            </div>
                        </div>
    
                    </form>

                    <div class="content__form-address js-content-form">
                        <h2 class="address__head">Địa chỉ của bạn</h2>
                        <div class="address__list address__list--seperate">
                            <div class="address__left">
                                <li class="address__info">Van A</li> 
                                <li class="address__info">0123456789</li>
                                <li class="address__info">KTX ĐHQG khu B</li>
                                <li class="address__info">Phường Linh Trung, TP. Thủ Đức, TP. HCM</li>
                            </div>

                            <div class="address__right">
                                <button class="address__list--btn">Cập nhật</button>
                                <button class="address__list--btn">Xóa</button>
                                <button class="address__list--btn">Đặt mặc định</button>
                            </div>
                        </div>   

                        <div class="address__list">
                            <div class="address__left">
                                <li class="address__info">Van A</li> 
                                <li class="address__info">0123456789</li>
                                <li class="address__info">KTX ĐHQG khu B</li>
                                <li class="address__info">Phường Linh Trung, TP. Thủ Đức, TP. HCM</li>
                            </div>

                            <div class="address__right">
                                <button class="address__list--btn">Cập nhật</button>
                                <button class="address__list--btn">Xóa</button>
                                <button class="address__list--btn">Đặt mặc định</button>
                            </div>
                        </div>

                        <button class="address__add js-open">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    
                    <div class="content__form-bank js-content-form">
                        <h2 class="bank__head">Ngân hàng của bạn</h2>
                        <div class="bank__list address__list--seperate">
                            <div class="bank__left">
                                <i class="bank__ic fa-solid fa-building-columns"></i>
                                <li class="bank__type">VISA</li>
                            </div>

                            <div class="bank__right">
                                <button class="bank__list--btn">Cập nhật</button>
                                <button class="bank__list--btn">Xóa</button>
                                <button class="bank__list--btn">Đặt mặc định</button>
                            </div>
                        </div> 

                        <div class="bank__list address__list--seperate">
                            <div class="bank__left">
                                <i class="bank__ic fa-solid fa-building-columns"></i>
                                <li class="bank__type">NAPAS</li>
                            </div>

                            <div class="bank__right">
                                <button class="bank__list--btn">Cập nhật</button>
                                <button class="bank__list--btn">Xóa</button>
                                <button class="bank__list--btn">Đặt mặc định</button>
                            </div>
                        </div>  

                        <button class="bank__add">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>

                    <div class="content__form-orders js-content-form">
                        <div class="orders-status__list">
                            <button class="orders-status active">Tất cả</button>
                            <button class="orders-status">Chờ xác nhận</button>
                            <button class="orders-status">Chờ lấy hàng</button>
                            <button class="orders-status">Đang giao</button>
                            <button class="orders-status">Đã giao</button>
                            <button class="orders-status">Đã hủy</button>
                            <button class="orders-status">Trả hàng/hoàn tiền</button>
                        </div>

                        <div class="orders__list on">
                            <!-- <div class="order"> -->

                                <div class="order__info">
                                    <img class="order--img" src="./assets/image/687cf3426183a89fe099dc2498dd18e8.jpg" alt="">

                                    <div class="left">
                                        <h3 class="order__info--name">Ly uống nước</h3>
                                        <li class="order__info--account">Số lượng: 1</li>
                                        <li class="order__info--type">Phân loại: hồng</li>
                                        <li class="order__info--price">Giá: 10.000 VND</li>
                                        <li class="order__info--status">Đã giao</li>
                                    </div>
                                </div>

                                <div class="right">
                                    <h3 class="order__info--totalp">Tổng tiền: 10.000 VND</h3>
                                    <button class="order__info--btn">Đánh giá</button>
                                    <button class="order__info--btn">Mua lại</button>
                                </div>
                            <!-- </div> -->


                        </div>

                        <div class="orders__list">
                            <!-- <div class="order"> -->

                                <div class="order__info">
                                    <img class="order--img" src="./assets/image/687cf3426183a89fe099dc2498dd18e8.jpg" alt="">

                                    <div class="left">
                                        <h3 class="order__info--name">Ly uống nước</h3>
                                        <li class="order__info--account">Số lượng: 1</li>
                                        <li class="order__info--type">Phân loại: hồng</li>
                                        <li class="order__info--price">Giá: 10.000 VND</li>
                                        <li class="order__info--status">Đã giao</li>
                                    </div>
                                </div>

                                <div class="right">
                                    <h3 class="order__info--totalp">Tổng tiền: 10.000 VND</h3>
                                    <button class="order__info--btn">Đánh giá</button>
                                    <button class="order__info--btn">Mua lại</button>
                                </div>
                            <!-- </div> -->


                        </div>

                        <div class="orders__list">
                            <!-- <div class="order"> -->

                                <div class="order__info">
                                    <img class="order--img" src="./assets/image/687cf3426183a89fe099dc2498dd18e8.jpg" alt="">

                                    <div class="left">
                                        <h3 class="order__info--name">Ly uống nước</h3>
                                        <li class="order__info--account">Số lượng: 1</li>
                                        <li class="order__info--type">Phân loại: hồng</li>
                                        <li class="order__info--price">Giá: 10.000 VND</li>
                                        <li class="order__info--status">Đã giao</li>
                                    </div>
                                </div>

                                <div class="right">
                                    <h3 class="order__info--totalp">Tổng tiền: 10.000 VND</h3>
                                    <button class="order__info--btn">Đánh giá</button>
                                    <button class="order__info--btn">Mua lại</button>
                                </div>
                            <!-- </div> -->


                        </div>

                        <div class="orders__list">
                            <!-- <div class="order"> -->

                                <div class="order__info">
                                    <img class="order--img" src="./assets/image/687cf3426183a89fe099dc2498dd18e8.jpg" alt="">

                                    <div class="left">
                                        <h3 class="order__info--name">Ly uống nước</h3>
                                        <li class="order__info--account">Số lượng: 1</li>
                                        <li class="order__info--type">Phân loại: hồng</li>
                                        <li class="order__info--price">Giá: 10.000 VND</li>
                                        <li class="order__info--status">Đã giao</li>
                                    </div>
                                </div>

                                <div class="right">
                                    <h3 class="order__info--totalp">Tổng tiền: 10.000 VND</h3>
                                    <button class="order__info--btn">Đánh giá</button>
                                    <button class="order__info--btn">Mua lại</button>
                                </div>
                            <!-- </div> -->


                        </div>

                        <div class="orders__list">
                            <!-- <div class="order"> -->

                                <div class="order__info">
                                    <img class="order--img" src="./assets/image/687cf3426183a89fe099dc2498dd18e8.jpg" alt="">

                                    <div class="left">
                                        <h3 class="order__info--name">Ly uống nước</h3>
                                        <li class="order__info--account">Số lượng: 1</li>
                                        <li class="order__info--type">Phân loại: hồng</li>
                                        <li class="order__info--price">Giá: 10.000 VND</li>
                                        <li class="order__info--status">Đã giao</li>
                                    </div>
                                </div>

                                <div class="right">
                                    <h3 class="order__info--totalp">Tổng tiền: 10.000 VND</h3>
                                    <button class="order__info--btn">Đánh giá</button>
                                    <button class="order__info--btn">Mua lại</button>
                                </div>
                            <!-- </div> -->


                        </div>
                        <div class="orders__list">
                            <!-- <div class="order"> -->

                                <div class="order__info">
                                    <img class="order--img" src="./assets/image/687cf3426183a89fe099dc2498dd18e8.jpg" alt="">

                                    <div class="left">
                                        <h3 class="order__info--name">Ly uống nước</h3>
                                        <li class="order__info--account">Số lượng: 1</li>
                                        <li class="order__info--type">Phân loại: hồng</li>
                                        <li class="order__info--price">Giá: 10.000 VND</li>
                                        <li class="order__info--status">Đã giao</li>
                                    </div>
                                </div>

                                <div class="right">
                                    <h3 class="order__info--totalp">Tổng tiền: 10.000 VND</h3>
                                    <button class="order__info--btn">Đánh giá</button>
                                    <button class="order__info--btn">Mua lại</button>
                                </div>
                            <!-- </div> -->


                        </div>

                        <div class="orders__list">
                            <!-- <div class="order"> -->

                                <div class="order__info">
                                    <img class="order--img" src="./assets/image/687cf3426183a89fe099dc2498dd18e8.jpg" alt="">

                                    <div class="left">
                                        <h3 class="order__info--name">Ly uống nước</h3>
                                        <li class="order__info--account">Số lượng: 1</li>
                                        <li class="order__info--type">Phân loại: hồng</li>
                                        <li class="order__info--price">Giá: 10.000 VND</li>
                                        <li class="order__info--status">Đã giao</li>
                                    </div>
                                </div>

                                <div class="right">
                                    <h3 class="order__info--totalp">Tổng tiền: 10.000 VND</h3>
                                    <button class="order__info--btn">Đánh giá</button>
                                    <button class="order__info--btn">Mua lại</button>
                                </div>
                            <!-- </div> -->


                        </div>
                    </div>

                    <form class="content__form-pass js-content-form" method="post" action="">
                        <div class="content__form-pass--head">
                            <li class="pass__head">Nhập mật khẩu cũ:</li>
                            <li class="pass__head">Nhập mật khẩu mới:</li>
                            <li class="pass__head">Nhập lại mật khẩu mới:</li>
                        </div>
    
                        <div class="content__form-pass--input">
                            <input type="password" class="pass__input" placeholder="" name="password">
                            <input type="password" class="pass__input" placeholder="" name="password">
                            <input type="password" class="pass__input" placeholder="" name="password">

                            <button class="content__form-pass-button">Lưu thay đổi</button>
                        </div>
                    </form>

                    <div class="content__form-voucher js-content-form">
                        <div class="content__form-voucher__list">
                            <button class="voucher-status active">Tất cả</button>
                            <button class="voucher-status">Chờ xác nhận</button>
                            <button class="voucher-status">Chờ lấy hàng</button>
                            <button class="voucher-status">Đang giao</button>
                            <button class="voucher-status">Đã giao</button>
                            <button class="voucher-status">Đã hủy</button>
                            <button class="voucher-status">Trả hàng/hoàn tiền</button>
                        </div>

                        <div class="voucher-list">

                        </div>
                        
                    </div>
                </div>
            </div>
            <!--End: Content-->

                 <!--Begin: Footer-->
                 <div class="footer">
                    <div class="grid">
                        <div class="grid__row">
                            <div class="grid__col-2-4">
                                <h4 class="footer-heading">
                                    CHĂM SÓC KHÁCH HÀNG
                                </h4>
                                <ul class="footer-list">
                                    <li class="footer-item">
                                        <a href="" class="footer-item__link">Trung tâm trợ giúp</a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-item__link">Daisy Xu</a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-item__link">Daisy Blog</a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-item__link">Daisy Mall</a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-item__link">Vận chuyển</a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-item__link">Hướng dẫn bán hàng</a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-item__link">Trả hàng và hoàn tiền  </a>
                                    </li>
            
                                </ul>
                            </div>
            
            
                            <div class="grid__col-2-4">
                                <h4 class="footer-heading">
                                 Về Daisy
                                </h4>
                                <ul class="footer-list">
                                    <li class="footer-item">
                                        <a href="" class="footer-item__link">
                                            Giới thiệu về Daisy Việt Nam
                                        </a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-item__link">Tuyển dụng</a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-item__link">Điều khoản</a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-item__link">Chính sách bảo mật</a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-item__link">Flash Sales</a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-item__link">Liên hệ với truyền thông</a>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="grid__col-2-4">
                                <h4 class="footer-heading">
                                  Thanh Toán
                                </h4>
                                <div class="footer-list__pay">
                                   
                                        <a href="" class="footer-item__link">
                                            <i class="footer-list__pay-icon fa-brands fa-paypal"></i>
                                        </a>
                                   
                                   
                                        <a href="" class="footer-item__link">
                                            <i class="footer-list__pay-icon fa-brands fa-apple-pay"></i></a>
                                   
                                        <a href="" class="footer-item__link">
                                            <i class="footer-list__pay-icon fa-brands fa-google-pay"></i>
                                        </a>
                                   
                                        <a href="" class="footer-item__link">
                                            <i class="footer-list__pay-icon fa-brands fa-cc-paypal"></i>
                                        </a>
                                   
                                        <a href="" class="footer-item__link">
                                            <i class="footer-list__pay-icon fa-brands fa-cc-apple-pay"></i>
                                        </a>
                                   
                                        <a href="" class="footer-item__link">
                                            <i class="footer-list__pay-icon fa-solid fa-credit-card-front"></i>
                                        </a>
                                
                                    
                                </div>
                            </div>
            
                            <div class="grid__col-2-4">
                                <h4 class="footer-heading">
                                  THEO DÕI CHÚNG TÔI TRÊN
                                </h4>
                                <ul class="footer-list">
                                    <li class="footer-item">
                                       
                                        <a href="" class="footer-item__link">
                                            <i class="fa-brands fa-facebook footer-item-icon "></i>
                                            Facebook
                                        </a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-item__link">
                                            <i class="footer-item-icon fa-brands fa-instagram"></i>
                                            Instagram</a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-item__link">
                                            <i class="footer-item-icon fa-brands fa-linkedin"></i>
                                            Linkedin</a>
                                    </li>
                                  
                                    
                                </ul>
                            </div>
            
                            <div class="grid__col-2-4">
                                <h4 class="footer-heading">
                                  Đăng nhập Daisy ngay thôi
                                </h4>
                                <div class="footer-download">
                                    <div class="footer-download__apps">
                                        <a href="" class="footer-item__link-img">
                                            <i class="footer-item-icon fa-brands fa-app-store"></i> App_store
                                        </a>
                                  
                                        <a href="" class="footer-item__link-img">
                                            <i class="footer-item-icon fa-brands fa-google-play"></i>
                                        Google_play
                                        </a>
                                    
                                        <a href="" class="footer-item__link-img">
                                            <i class="footer-item-icon fa-brands fa-adn"></i>
                                            AppGallery
                                        </a>
                                    </div>
                                </div>
            
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Footer -->

        </div>

        <div class="address-add js-address-add">
            <div class="address-add__container js-address-container">
                <h3 class="address-add__header">Địa chỉ mới</h3>
                <form action="" class="address-add__body" method="post">
                    <input type="text" class="address-add__input" placeholder="Tên người nhận" name="name">
                    <input type="number" class="address-add__input" placeholder="Số điện thoại" name="phone">
                    <input type="text" class="address-add__input" placeholder="Tỉnh/Thành phố" name="province">
                    <input type="text" class="address-add__input" placeholder="Quận/Huyện" name="district">
                    <input type="text" class="address-add__input" placeholder="Phường/Xã" name="award">
                    <input type="text" class="address-add__input" placeholder="Địa chỉ cụ thể" name="address">
                </form>
                <div class="address-add__footer">
                    <button class="address-add__btn js-close">Hủy</button>
                    <button class="address-add__btn js-open">Thêm</button>
                </div>
            </div>
        </div>

        <script>
            const $ = document.querySelector.bind(document)
            const $$ = document.querySelectorAll.bind(document)

            const choices = $$('.content__side-bar--choice')
            const contents = $$('.js-content-form')

            choices.forEach((choice, index) => {
                const content = contents[index]

                choice.onclick = function() {
                    $('.content__side-bar--choice.active').classList.remove('active')
                    $('.js-content-form.on').classList.remove('on')

                    this.classList.add('active')
                    content.classList.add('on')
                }
            })
        </script>

        <script>
            const statuses =  document.querySelectorAll('.orders-status')
            const orders = document.querySelectorAll('.order__list')

            statuses.forEach((status, i) => {

                const order = orders[i]

                status.onclick = function () {    
                    $('.orders-status.active').classList.remove('active')
                    $('.order__list.on').classList.remove('on')

                    this.classList.add('active')
                    order.classList.add('on')
                }
            })
        </script>

        <script>
            const addressAdd = document.querySelector('.js-address-add')
            const addressContainer = document.querySelector('.js-address-container')
            const addressClose = document.querySelector('.js-close')
            const addressOpen = document.querySelector('.js-open')

            function showAddressForm() {
                addressAdd.classList.add('open');
            }

            function hideAddressForm() {
                addressAdd.classList.remove('open')
            }

            addressOpen.addEventListener('click', showAddressForm);

            addressClose.addEventListener('click', hideAddressForm);

            addressAdd.addEventListener('click', hideAddressForm);

            addressContainer.addEventListener('click', function(event) {event.stopPropagation()
            });


        </script>
    </body>
</html>