<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gio hang</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Itim|Lobster|Montserrat:500|Noto+Serif|Nunito|Patrick+Hand|Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i|Roboto+Slab|Saira" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/giohang.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/home.css">
    <!-- <link rel="stylesheet" href="/assets/css/main.css">  -->
    <link rel="stylesheet" href="/css/giohang-responsive.css">
</head>
<body>
    <div class="cart-shopping">
        <div class="header">
            <div class="header-left"> 
               <a href="/"><img class="header-logo" src="/assets/image/logo3.png" alt=""></a> 
             <!-- <p class="header-has-seller">Kenh nguoi ban</p> -->
            </div>
            
            <div class="header-search">
                <input class="header-search-input" type="text" placeholder="Search">
 
                 <!-- search-history -->
                <div class="header-search-history">
                     <h3 class="header-search-history-heading">
                         Lịch sử Tìm kiếm
                     </h3>
                     <ul class="header-search-history-list">
                         <li class="header-search-history-item">
                             <a class="search-history-item-link" href="">Mien dong</a>
                         </li>

                         <li class="header-search-history-item">
                             <a class="search-history-item-link" href="">Bun dong</a>
                         </li>
                     </ul>
                </div>

                <button class="input-enter">
                    <i class="fa fa-solid fa-magnifying-glass input-icon"></i>
                </button>
            </div>

             <div class="header-user">
                <ul class="user-list">
                    <a href="/giohang" class="has-cart">
                         <li class="user-item ">
                         <!-- <i class="fa fa-regular fa-bell "></i><i class="fa-regular fa-cart-shopping-fast"></i> -->
                            <i class="fa fa-light fa-cart-shopping"></i>
                            <div class="cartAmount"><%=countCart%> </div>
                         </li>
                    </a>
                    
                    
                     <% if (check != 0) {%> 
                        <li class="user-item has--noti ">
                            <i class="fa fa-regular fa-bell "></i>
                            <ul class="cart-announcement">
                                <h4 class="product-title-announ">Thông báo</h4>
                                <li class="announ-item">
                                    <h5>Bạn không có thông báo nào</h5>
                                </li>
                            </ul>
                        </li>

                        <li class="user-item has--content" >
                            <a href="/user/<%-user.slug %> "></a>
                            <i class="fa fa-solid fa-user"></i>
                             
                            <ul class="box-list">
                                <li class="box-list--item"><a href="/user/<%-user.slug %> " class="has-account">Tài khoản</a></li>
                                <!-- <li class="box-list--item">Đơn hàng</li> -->
                                <li class="box-list--item"> <button class="addfr"> Tìm bạn</button></li>
                                <li class="box-list--item"><a class="box-link" href="/logout">Đăng xuất</a></li>
                            </ul>
                        </li>
                         
                     <% } else { %> 
                        <button class="user-button"><a href="/login" class="user-button">Sign in</a></button>
                     <% } %> 
                </ul>
             </div>
         </div>
         <form method="GET" class="thanhtoantien" action="/thanhtoan/cart">
        <div class="cart-body">
                <h4 class="car-body-heading">
                    Giỏ hàng của bạn
                </h4>

                <ul class="cart-infor-list">
                    <li class="cart-infor-child">
                        Sản phẩm
                    </li>
                    <li class="cart-infor-child">
                        Số lượng
                    </li>
                    <li class="cart-infor-child">
                        Tổng tiền
                    </li>
                    <li class="cart-infor-child">
                       Xoá
                    </li>
                </ul>
                <h2 style="display: none;" id="userslug"><%=user.slug %></h2>
                <% for (var i = 0; i < products.length; i++) { %> 
                    <%const x = products[i].img.replace("https://drive.google.com/file/d/","https://drive.google.com/uc?export=view&id=")%>
                    <% const y = x.replace("/view?usp=share_link","",40)%>
                <div id="xoa<%=i %>">
                <div class="cart-product-wrap">
                   <div class="cart-product-infor">
                        <input class="checkbox" type="checkbox" name="q<%=i %>" value="<%-products[i].slug %>">
                            <img class="cart-product-img"  src="<%-y%>" alt="">
                           <div class="product-content">
                            <h5 class="cart-product-name">
                                <%=products[i].name%>
                            </h5>
                            <p class="cart-product-price"><%=products[i].price%></p>
                           </div>
                   </div>
                   

                    <div class="cart-product-quantity first-child">
                        <button  class="btn quantity-minus" type="button" value="<%=i %>">
                            <i class="fa-solid fa-minus"></i>
                        </button>
                            
                            <h1 style="display: none;" id="slug<%=i %>"><%=products[i].slug %></h1>
                            <h4 class="quantity-number" id="count<%=i %>"><%=products[i].count%></h4>
                            <button class="btn quantity-add" type="button" value="<%=i %>">
                            <i class="fa-solid fa-plus"></i>
                        </button>

                    </div>
                    

                        <p class="total"> <%=products[i].price * products[i].count%></p>
                        <button class="btn product-trash" type="button" value="<%=i %>">
                            <i class="fa-solid fa-trash delete"></i>
                        </button>
               
                </div>
                </div>
                <% } %>  
              
                <div class="cart-footer">
                    <ul class="thanhtoan">
                        <li class="thanhtoan-item">
                            Thanh toán
                        </li>
                        
    
                    </ul>
                    <div class="button-thanhtoan">
                        <button class=" pay" type="submit">Thanh Toán</button>
                    </div>
                </div>
        </div>
        <!-- modal -->
             <div class="modal-add">
            <div class="modal-container-add">

                <div class="header-modal-add">
                    
                    Kết Nối Người Quen
                    <div class="icon-close-add"><i class="fa-regular fa-circle-xmark"></i></div>
                </div>
                <form action="/wishlist/find" method="post">
                    <div class="body-modal-add">
                        <p class="body-add-heading">
                            Tìm qua số điện thoại
                        </p>
                            <input type="text" class="phone-input" name="phone" placeholder="Nhập số điện thoại" value="">
                    </div>
                    <button class="footer-modal-add">
                        Tìm
                    </button>
                </form>
            </div>
             </div>
        </form>


         <!-- footer -->
        <div class="footer">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__col-2-4">
                        <h4 class="footer-heading">
                            CHĂM SÓC KHÁCH HÀNG
                        </h4>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Trung tâm trợ giúp</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Daisy Xu</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Daisy Blog</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Daisy Mall</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Vận chuyển</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Hướng dẫn bán hàng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Trả hàng và hoàn tiền  </a>
                            </li>
    
                        </ul>
                    </div>
    
    
                    <div class="grid__col-2-4">
                        <h4 class="footer-heading">
                         Về Daisy
                        </h4>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    Giới thiệu về Daisy Việt Nam
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Tuyển dụng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Điều khoản</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Chính sách bảo mật</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Flash Sales</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Liên hệ với truyền thông</a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="grid__col-2-4">
                        <h4 class="footer-heading">
                          Thanh Toán
                        </h4>
                        <div class="footer-list__pay">
                           
                                <a href="" class="footer-item__link">
                                    <i class="footer-list__pay-icon fa-brands fa-paypal"></i>
                                </a>
                           
                           
                                <a href="" class="footer-item__link">
                                    <i class="footer-list__pay-icon fa-brands fa-apple-pay"></i></a>
                           
                                <a href="" class="footer-item__link">
                                    <i class="footer-list__pay-icon fa-brands fa-google-pay"></i>
                                </a>
                           
                                <a href="" class="footer-item__link">
                                    <i class="footer-list__pay-icon fa-brands fa-cc-paypal"></i>
                                </a>
                           
                                <a href="" class="footer-item__link">
                                    <i class="footer-list__pay-icon fa-brands fa-cc-apple-pay"></i>
                                </a>
                           
                                <a href="" class="footer-item__link">
                                    <i class="footer-list__pay-icon fa-solid fa-credit-card-front"></i>
                                </a>
                        
                            
                        </div>
                    </div>
    
                    <div class="grid__col-2-4">
                        <h4 class="footer-heading">
                          THEO DÕI CHÚNG TÔI TRÊN
                        </h4>
                        <ul class="footer-list">
                            <li class="footer-item">
                               
                                <a href="" class="footer-item__link">
                                    <i class="fa-brands fa-facebook footer-item-icon "></i>
                                    Facebook
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="footer-item-icon fa-brands fa-instagram"></i>
                                    Instagram</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="footer-item-icon fa-brands fa-linkedin"></i>
                                    Linkedin</a>
                            </li>
                          
                            
                        </ul>
                    </div>
    
                    <div class="grid__col-2-4">
                        <h4 class="footer-heading">
                          Đăng nhập Daisy ngay thôi
                        </h4>
                        <div class="footer-download">
                            <div class="footer-download__apps">
                                <a href="" class="footer-item__link-img">
                                    <i class="footer-item-icon fa-brands fa-app-store"></i> App_store
                                </a>
                          
                                <a href="" class="footer-item__link-img">
                                    <i class="footer-item-icon fa-brands fa-google-play"></i>
                                Google_play
                                </a>
                            
                                <a href="" class="footer-item__link-img">
                                    <i class="footer-item-icon fa-brands fa-adn"></i>
                                    AppGallery
                                </a>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>

        <!-- <script src="/javascript/giohang.js"></script> -->
        <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
        <!-- <script>
            $(document).ready(function() {
                $('.thanhtoantien').submit(function(e) {
                    e.preventDefault();
                    let $input = $('.thanhtoantien: input ');
                    var value = [];
                    $inputs.each(function(i) {
                        if (isJson($(this).val())) {
                            value[i][this.name] = $(this).val();
                        }
                    });
                    console.log(value);
                    console.log(typeof value)

                    $ajax({
                        url: "/thanhtoan/cart",
                        type: 'GET',
                        data: {},
                        dataType: 'json',
                        success: function(data){
                            alert('success')
                        }
                    })
                })
        }) 
        </script> -->

        <script >

        const btnAddfr = $(".addfr")
        const closeAddfr = $(".icon-close-add")
        const modaladd = $(".modal-add")

        btnAddfr.onclick = function() {
            modaladd.classList.add("open")
        }
        closeAddfr.onclick = function () {
            modaladd.classList.remove("open")
        }
            $(document).ready(function() {
                $('.product-trash').click(function() {
                    let x = $(this).val();
                    let slug = $('#slug' + s).text();
                    $.ajax({
                        url: "/giohang/delete",
                        type: 'POST',
                        data: {'ps': slug,
                        'us': $('#userslug').text(),},
                        success: function(data){
                            
                            $('#xoa' + x).remove();
                        },
                        error: function(e) {
                            alert('loi')
                        }
                    })
                    e.preventDefault();
                })

                $('.quantity-add').click(function(e){
                    let s = $(this).val()
                    
                    let slug = $('#slug' + s).text();
                    $.ajax({
                        url: "/giohang/plus",
                        type: 'POST',
                        data: {'ps': slug,
                        'us': $('#userslug').text(),},
                        success: function(data){
                            
                            let num = parseInt($('#count' + s).text())
                            console.log($('#count' + s).text())
                            $('#count' + s).text(num + 1)
                        },
                        error: function(e) {
                            alert('loi')
                        }
                    })
                    e.preventDefault();
                })

                $('.quantity-minus').click(function(e){
                    let s = $(this).val()
                    
                    

                    let slug = $('#slug' + s).text();
                    console.log(slug);
                    e.preventDefault();
                    $.ajax({
                        url: "/giohang/minus",
                        type: 'POST',
                        data: {'ps': slug,
                            'us': $('#userslug').text(),
                        },
                        success: function(data){
                            let num = parseInt($('#count' + s).text())
                            console.log($('#count' + s).text())
                            $('#count' + s).text(num - 1)
                        },
                        error: function(e) {
                            alert('loi')
                        }
                    })
                })
            })
        </script>


    </div>
</body>
</html>