<!DOCTYPE html>
<html lang ='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>daisy</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" integrity="sha512-oHDEc8Xed4hiW6CxD7qjbnI+B07vDdX7hEPTvn9pSZO1bcRqHp8mj9pyr+8RVC2GmtEfI2Bi9Ke9Ass0as+zpg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/assets/css/seller-login.css">
		<link rel="stylesheet" href="/assets/fonts/fontawesome-free-6.2.0-web/css/all.css">
    </head>

    <body>
        <!-- multistep form -->
        <form id="msform" action="/signup/cp" method="POST">
            <!-- progressbar -->
            <ul id="progressbar">
            <li class="js-progressbar active">Thông tin đăng kí</li>
            <li class="js-progressbar">Cài đặt vận chuyển</li>
            <li class="js-progressbar">Hoàn thành</li>
            </ul>
            <!-- fieldsets -->
            <fieldset class="shop-info js-content on">
				<h2 class="fs-title">Tài khoản</h2>
				<h3 class="fs-subtitle">Cài đặt thông tin của bạn</h3>

				<div class="shop-info__body">
					<div class="shop-info__headings">
						<li class="shop-info__heading">Tên đăng nhập: </li>
						<li class="shop-info__heading">Mật khẩu: </li>
						<li class="shop-info__heading">Nhập lại mật khẩu: </li>
					</div>
	
					<div class="shop-info__inputs">
						<input type="text" name="username"/>
						<input type="text" name="password"/>
						<input type="text" name="repassword"/>
					</div>
				</div>

				<button type="button" class="next">Next</button>
            </fieldset>

            <fieldset class="shop-delivery js-content">
            <h2 class="fs-title">Cài đặt Thông tin cá nhân</h2>
			<h3 class="fs-subtitle">Nhập thông tin cá nhân của bạn</h3>

			<div class="shop-delivery__items">
				<div class="shop-info__headings">
					<li class="shop-info__heading">Tên: <input type="text" name="name"/></li>
					<li class="shop-info__heading">Tỉnh: <input type="text" name="province"/></li>
					<li class="shop-info__heading">Quận, huyện: <input type="text" name="district"/></li>
					<li class="shop-info__heading">Phường, xã: <input type="text" name="award"/></li>
					<li class="shop-info__heading">Địa chỉ chi tiết:<input type="text" name="addres"/></li>
					<li class="shop-info__heading">Số điện thoại: <input type="number" name="phone"></li>
				</div>
			</div>

			<div class="shop-delivery__items">
					<select name="role" id="" class="shop-info__input">
						<option value="seller">Người bán</option>
						<option value="customer">Người mua</option>
					</select>
					<button type="button" class="next">Next</button>
            </fieldset>

            <fieldset class="shop-product-post js-content">
            <h2 class="fs-title">Bắt đầu trải nghiệm</h2>
			<h3 class="fs-subtitle">Hoàn Thành</h3>

			<div class="product-post__ic">
				<i class="fa-sharp fa-solid fa-circle-check"></i>
				<h3 class="fs-subtitle">Bắt đầu sử dụng</h3>
			</div>

			<div class="shop-product__btn">
				<input type="button" name="previous" class="previous action-button" value="Previous" />
				<input type="submit" name="submit" class="submit action-button" value="Submit" />
			</div>
            </fieldset>
        </form>

		<script>
			const $ = document.querySelector.bind(document)
			const $$ = document.querySelectorAll.bind(document)

			const nextBtns = $$('.next')
			const contents = $$('.js-content')
			const progressbars = $$('.js-progressbar')
			const previousBtns = $$('.previous')

			nextBtns.forEach((nextBtn, index) => {
				const content = contents[index + 1]
				const progressbar  = progressbars[index + 1]
				
				nextBtn.onclick = function() {
					$('.js-progressbar.active').classList.remove('active')
					$('.js-content.on').classList.remove('on')

					progressbar.classList.add('active')
					content.classList.add('on')
				}
			});

			previousBtns.forEach((previousBtn, index) => {
				const content = contents[index]
				const progressbar = progressbars[index]

				previousBtn.onclick = function() {
					$('.js-progressbar.active').classList.remove('active')
					$('.js-content.on').classList.remove('on')

					progressbar.classList.add('active')
					content.classList.add('on')
				}	
			});




		</script>
		
</body>
</html>