<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/thanhtoan/create" method="post">
        <input type="radio" name="h" value="<%=JSON.stringify(product[1])%>">
        <input type="radio" name="k" value="<%=JSON.stringify(product[0])%>">
        <button type="submit">Mua hàng</button>
    </form>
</body>
</html>