<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh toan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Itim|Lobster|Montserrat:500|Noto+Serif|Nunito|Patrick+Hand|Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i|Roboto+Slab|Saira" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/css/thanhtoan.css">
   <link rel="stylesheet" href="/css/home.css">
   <link rel="stylesheet" href="/css/base.css">
</head>
<body>
    <div class="app">
         <div class="header">
            <div class="header-left"> 
               <a href="/"> <img class="header-logo" src="/assets/image/logo3.png" alt=""></a>
            
            </div>
             <div class="header-search">
                 <input class="header-search-input" type="text" placeholder="Search">
 
                
                 <div class="header-search-history">
                     <h3 class="header-search-history-heading">
                         Lịch sử Tìm kiếm
                     </h3>
                     <ul class="header-search-history-list">
                         <li class="header-search-history-item">
                             <a class="search-history-item-link" href="">Mien dong</a>
                         </li>
                         <li class="header-search-history-item">
                             <a class="search-history-item-link" href="">Bun dong</a>
                         </li>
                     </ul>
                 </div>
                <button class="input-enter">
                 <i class="fa fa-solid fa-magnifying-glass input-icon"></i>
                </button>
             </div>
             <div class="header-user">
                 <ul class="user-list">
                     <a href="/giohang" class="has-cart">
                         <li class="user-item ">
                         
                         <button class="noti-btn"><i class="fa fa-light fa-cart-shopping"></i></button>
                         <div class="cartAmount"><%=countCart%> </div>
                         </li>
                     </a>
                    
                    
                     <% if (check != 0) {%> 
                        <li class="user-item has--noti ">
                            <i class="fa fa-regular fa-bell "></i>
                            <ul class="cart-announcement">
                                <h4 class="product-title-announ">Thông báo</h4>
                                <li class="announ-item">
                                    <h5>Bạn không có thông báo nào</h5>
                                </li>
                            </ul>
                        </li>
                             <li class="user-item has--content" >
                                 <a href="/user/<%-//user.slug %> ">
                                 <i class="fa fa-solid fa-user"></i>
                              </a>
                              <ul class="box-list">
                                 <li class="box-list--item">Tài khoản</li>
                                 <li class="box-list--item">Đơn hàng</li>
                                  <li class="box-list--item"><a class="box-link" href="/logout">Đăng xuất</a></li>
                             </ul>
                             </li>
                         
                     <% } else { %> 
                     <button class="user-button"><a href="/login" class="user-button">Sign in</a></button>
                     <% } %> 
                 </ul>
                 
             </div>
         </div>
         
         <!-- body -->
         <div class="body">
            <h2 class="heading">Thanh toán</h2>
            <div class="information-wrap">
                <div class="customer-side">
                    <ul class="customer-infor">
                        <li class="customer-infor-showing">
                            <h5><%-user.firstname%> <%-user.lastname%></h5>
                        </li>
                        <li class="customer-infor-showing"><h6><%=user.phone%></h6></li>
                        <li class="customer-infor-showing"><button class="change-add">Đổi địa chỉ</button></li>
                    </ul>
                    <div class="customer-add">
                        <h5 class="customer-add--title">Giao hàng tới :</h5>
                        <p class="customer-add-show">Tỉnh thành: <%-user.province %>
                        <span class="customer-add-show">Quận, huyện: <%-user.district %></span>
                        <span class="customer-add-show">Phường, xã: <%-user.award %></span>
                        <span class="customer-add-show">Địa chỉ: <%-user.address %></span>
                    </p>
                    </div>
                </div>
                <div class="shipment-side">
                   <h4 class="shipment-title">Phương thức Vận chuyển</h4>
                   <div class="shipment-showing">
                        <i class="fa-solid fa-truck-fast"></i> GHTK
                        <span><button class="shipment-change">Thay đổi phương thức</button></span>
                    </div>
                    <div class="shipment-date">Nhận hàng vào: <span>10/12/2022</span></div>
                    <div class="shipment-fee">Giá vận chuyển: <span>20.000</span></div>
                </div>
            </div>
            <form action="/thanhtoan/create" method="post">
            <% let tien = 0 %> 
            <% if (Array.isArray(product)) {%> 
                <% for (let i = 0; i < product.length; i++) {%> 
                    <%const x = product[i].img.replace("https://drive.google.com/file/d/","https://drive.google.com/uc?export=view&id=")%>
                    <% const y = x.replace("/view?usp=share_link","",40)%>
                    <% tien += product[i].price %> 
            <div class="product-wrap">
                <div class="product-list">
                    <h5 class="product-name"><%=shop.name %></h5>
                    <div class="product-container">

                        <input type="text" style="display: none;" name="p<%-i %>" value="<%=JSON.stringify({user_slug: user.slug, product_slug: product[i].slug , shop_slug: product[i].user_slug , send: 0, sell: 0, money: product[i].price * product[i].count, count: product[i].count }) %>">
                        <img class="product-img" src="<%-y%>" alt="">
                        <div class="product-item">
                            <h5 class="name"><%=product[i].name%></h5>
                            <p class="quantity">Số lượng : <span><%=product[i].count%></span></p>

                            <p class="dongia">Đơn giá: <span><%=product[i].price%></span></p>
                            <div class="total">Thành tiền: <span><%=product[i].price + product[i].count%></span></div>
                        </div>
                    </div>
                </div>
            </div>

            <% }} else { %> 
                <% tien = product.price %> 
                <%const x = product.img.replace("https://drive.google.com/file/d/","https://drive.google.com/uc?export=view&id=")%>
                <% const y = x.replace("/view?usp=share_link","",40)%>
            <div class="product-wrap">
                <div class="product-list">
                    <h5 class="product-name"><%=shop.name %> </h5>
                    <div class="product-container">
                        <input class="product-check-text" type="text" style="display: none;" name="p" value="<%=JSON.stringify({user_slug: user.slug, product_slug: product.slug , shop_slug: product.user_slug , send: 0, sell: 0, money: product.price, count: 1 }) %>">
                        <img class="product-img" src="<%-y%>" alt="">
                        <div class="product-item">
                            <h5 class="name">><%=product.name%></h5>
                            <p class="quantity">Số lượng : <span><%=product.count%></span></p>
                            <p class="dongia">Đơn giá: <span><%=product.price%></span></p>
                            <div class="total">Thành tiền: <span><%=product.price + product.count%></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %> 
               

            <div class="voucher-wrap">
                <div class="voucher-shop">
                    <h5 class="header-voucher">Voucher của shop</h5>
                    <ul class="voucher-list">
                        <li class="voucher-item ">50k</li>
                        <li class="voucher-item">100k</li>
                        <li class="voucher-item">Freeship</li>
                    </ul>
                </div>
                <div class="voucher-daisy">
                    <h5 class="header-voucher">Voucher của Daisy</h5>
                    <ul class="voucher-list">
                        <li class="voucher-item">50k</li>
                        <li class="voucher-item">Freeship</li>
                    </ul>
                </div>
            </div>

            <div class="thanhtoan-wrap">
                <h4 class="header-thanhtoan">Phương thức thanh toán</h4>
                <div class="thanhtoan-way">
                    <button class="khinhanhang thanhtoan">Thanh toán khi nhận hàng</button>
                    <button class="momo thanhtoan">Thanh toán bằng MoMo</button>
                    <button class="internet-banking thanhtoan">Thanh toán bằng Internet Banking</button>

                </div>
            </div>
            
            <div class="total-wrap">
                <h4 class="header-total">Tổng chi phí</h4>
                <ul class="total-detail">
                    <li class="total-item">Tiền hàng : <span><%=tien%></span></li>
                    <li class="total-item">Tiền vận chuyển : <span>20.000</span></li>
                    <li class="total-item total-add">Tổng cộng : <span><%=tien + 20000%></span></li>
                </ul>
                <button class="ending" type="submit">ĐẶT HÀNG</button>
                <button class="ending_2"><a href="/"> Quay lai trang chu</a></button>
            </div>

           
         </div>
        </form>
         <div class="footer">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__col-2-4">
                        <h4 class="footer-heading">
                            CHĂM SÓC KHÁCH HÀNG
                        </h4>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Trung tâm trợ giúp</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Daisy Xu</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Daisy Blog</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Daisy Mall</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Vận chuyển</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Hướng dẫn bán hàng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Trả hàng và hoàn tiền  </a>
                            </li>
    
                        </ul>
                    </div>
    
    
                    <div class="grid__col-2-4">
                        <h4 class="footer-heading">
                         Về Daisy
                        </h4>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    Giới thiệu về Daisy Việt Nam
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Tuyển dụng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Điều khoản</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Chính sách bảo mật</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Flash Sales</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Liên hệ với truyền thông</a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="grid__col-2-4">
                        <h4 class="footer-heading">
                          Thanh Toán
                        </h4>
                        <div class="footer-list__pay">
                           
                                <a href="" class="footer-item__link">
                                    <i class="footer-list__pay-icon fa-brands fa-paypal"></i>
                                </a>
                           
                           
                                <a href="" class="footer-item__link">
                                    <i class="footer-list__pay-icon fa-brands fa-apple-pay"></i></a>
                           
                                <a href="" class="footer-item__link">
                                    <i class="footer-list__pay-icon fa-brands fa-google-pay"></i>
                                </a>
                           
                                <a href="" class="footer-item__link">
                                    <i class="footer-list__pay-icon fa-brands fa-cc-paypal"></i>
                                </a>
                           
                                <a href="" class="footer-item__link">
                                    <i class="footer-list__pay-icon fa-brands fa-cc-apple-pay"></i>
                                </a>
                           
                                <a href="" class="footer-item__link">
                                    <i class="footer-list__pay-icon fa-solid fa-credit-card-front"></i>
                                </a>
                        
                            
                        </div>
                    </div>
    
                    <div class="grid__col-2-4">
                        <h4 class="footer-heading">
                          THEO DÕI CHÚNG TÔI TRÊN
                        </h4>
                        <ul class="footer-list">
                            <li class="footer-item">
                               
                                <a href="" class="footer-item__link">
                                    <i class="fa-brands fa-facebook footer-item-icon "></i>
                                    Facebook
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="footer-item-icon fa-brands fa-instagram"></i>
                                    Instagram</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="footer-item-icon fa-brands fa-linkedin"></i>
                                    Linkedin</a>
                            </li>
                          
                            
                        </ul>
                    </div>
    
                    <div class="grid__col-2-4">
                        <h4 class="footer-heading">
                          Đăng nhập Daisy ngay thôi
                        </h4>
                        <div class="footer-download">
                            <div class="footer-download__apps">
                                <a href="" class="footer-item__link-img">
                                    <i class="footer-item-icon fa-brands fa-app-store"></i> App_store
                                </a>
                          
                                <a href="" class="footer-item__link-img">
                                    <i class="footer-item-icon fa-brands fa-google-play"></i>
                                Google_play
                                </a>
                            
                                <a href="" class="footer-item__link-img">
                                    <i class="footer-item-icon fa-brands fa-adn"></i>
                                    AppGallery
                                </a>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const order = document.querySelector('.ending')
        const momo = document.querySelector('.momo')
        const khiThanhToan = document.querySelector('.khinhanhang')
        const internetBanking = document.querySelector('.internet-banking')

        order.addEventListener('click', () => {
            alert('Bạn đã đặt hành thành công!')
        })
        momo.addEventListener('click', () => {
            alert('Bạn đã chọn Thanh toán bằng Ví Momo!')
        })
        khiThanhToan.addEventListener('click', () => {
            alert('Bạn đã chọn Thanh toán khi nhận hàng')
        })
        internetBanking.addEventListener('click', () => {
            alert('Bạn đã chọn Thanh toán bằng Internet Banking!')
        })


    </script>
</body>
</html>