.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100% ;
    margin: 0 auto;
    
}

.grid__row {
    display: flex;
    /* cho nhung thang con nam ngang neu qua dai, khong bi tut xuong */
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.grid__col-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__col-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__col-2-6 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20.33333%;
}
.grid__col-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
.grid__col-12 {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}


.has--plus {
    background-color: rgb(220, 60, 60);
    color: #cce8d4;
    border: none;
}

.start-no-color {
    color: #999;
}
.fa-user {
  color: black;
  position: relative;
}
.has--user {
  padding: 8px 20px;
  padding: 6px 5px;
  border-radius: 50%;
  border: 1px solid black;

}

/* SET LOGO ALL */

 /* pagnition product */

.pagination-wrapper {
  z-index: 0;
  font-size: 20px;
  font: 0;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 50px;
}

@keyframes pagination-container--animation-prev {
  0% { transform: translateX(0); }
  100% { transform: translateX(18px); }
}

@keyframes pagination-container--animation-next {
  0% { transform: translateX(0); }
  100% { transform: translateX(-18px); }
}

.transition-prev .pagination-container {
  animation: pagination-container--animation-prev 0.3s forwards;
}

.transition-next .pagination-container {
  animation: pagination-container--animation-next 0.3s forwards;
}

.little-dot {
  width: 6px;
  height: 6px;
  background: #ccc;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
  position: relative;
  z-index: 0;
}

.little-dot--first,
.little-dot--last {
  z-index: 1;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-18px);
  }
}

.transition-prev .little-dot--first {
  animation: slideLeft 0.4s 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes little-dot--first--animation {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.transition-next .little-dot--first {
  animation: little-dot--last--animation 0.3s forwards;
}


@keyframes little-dot--last--animation {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.transition-prev .little-dot--last {
  animation: little-dot--last--animation 0.3s forwards;
}

@keyframes slideRight {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }

  100% {
    transform: translateX(18px);
    opacity: 1;
  }

}

.transition-next .little-dot--last {
  animation: slideRight 0.4s 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

.big-dot {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: black;
  position: absolute;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
  z-index: 10;
}

.transition-next .big-dot {
  right: auto;
  left: -6px;
}

.big-dot-container {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
  z-index: 0;
}

.transition-next .big-dot-container {
  right: auto;
  left: 3px;
}

@keyframes big-dot-container--animation-prev {
  0% { transform: translateY(-50%); }
  100% { transform: translateY(-50%) rotate(-179deg); }
}

@keyframes big-dot-container--animation-next {
  0% { transform: translateY(-50%); }
  100% { transform: translateY(-50%) rotate(-182deg); }
}

.transition-prev .big-dot-container {
  animation: big-dot-container--animation-prev 0.3s forwards;
}

.transition-next .big-dot-container {
  animation: big-dot-container--animation-next 0.3s forwards;
}

.btn {
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  fill: rgb(45, 44, 44);
  cursor: pointer;
  transition: opacity 0.2s;
}

.btn:hover {
  opacity: 0.6;
}

.btn--next {
  left: calc((100%) + 20px);  
}

.btn--prev {
  right: calc((100%) - 20px);
}


a {
  text-decoration: none;
}


@keyframes headerNotiGrowth {
  from {
      opacity: 0;
      /* scale() : do lon len */
       transform: scale(0);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

/* noti */
.fa-bell {
  position: relative;
  cursor: pointer;
}
.has--noti:hover .cart-announcement{
  display: block;
  z-index: 1;
}

.cart-announcement {
  position: absolute;
  width: 350px;
  height: auto;
  top: 55px;
  right: 170px;
  animation: headerNotiGrowth ease 0.4s;
  background-color:#e9ecea ;
  box-shadow: 0 0px 3px #999;
  display: none;
  padding-left: 0;
}

.cart-announcement::before{
  position: absolute;
  top: -15px;
  content: '';
  border: 0 0 10px 0;
  background-color: transparent;
  width: 20%;
  height: 13px;
  right: 0;

}


.product-title-announ {
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
margin-bottom: 0;

}

.announ-item {
  display: flex;
  padding: 10px 5px;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.announ-item.isNoti {
  display: none;
}
.announ-item.isntNoti {
  display: block;
  /* display: flex; */
  padding: 10px 5px;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.announ-name  {
  margin-top: 5px;
  margin-left: 0;
  padding-left: 5px;
}
.announ-title {
   padding-left: 2px;
   font-size: 15px;
   margin-bottom: 0;
   padding-top: 0;
   padding-bottom: 3px;
   font-weight: 700;
}

.note-span {
  font-weight: 700;
  padding-left: 0;
  margin-left: 0;
}
.announ-img {
  width: 60px;
  height: 70px;

}
.announ-buy {
  font-size: 10px;
  background-color: red;
  text-align: center;
  color: white;
  height: 18px;
  padding: 2px 5px;
  transform: translateY(-35px);
  
}
.noti-btn {
  background-color: transparent;
  border: none;
}


.announ-note {
  padding: 2px 3px;

  color: rgb(43, 42, 42);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
}
.announ-heading {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  padding-top: 5px;

}
.note {

  padding-top: 5px;
}

/* user-box */

.has--content{
  position: relative;
}

.box-list {
  width: 150px;
  height: auto;
  background-color: rgb(237, 233, 233);
  position: absolute;
  top: 82%;
  right: 30px;
  padding-left: 0;
  list-style: none;
  cursor: pointer;
  display: none;
  animation: headerNotiGrowth ease 0.4s;
  

}
.box-list--item {
  padding: 15px 10px ;
  border-bottom: 1px solid #999;
  font-size: 16px;
 line-height: 20px;
 color: rgb(24, 23, 23);
 text-align: center;
 position: relative;
}

.box-list--item:hover{
  background-color: #ccc;
  color: black;
}
.box-list::before {
  position: absolute;
  top: -15px;
  content: '';
  border: 0 0 10px 0;
  background-color: transparent;
  width: 20%;
  height: 13px;
  right: 0;
}

.has--content:hover .box-list {
  display: block;
  z-index: 1;
}
.box-link{ 
  text-decoration: none;
  color: black;
  /* display: none; */
  /* padding: 10px 10px ; */
  text-align: center;
  
}
.box-link:hover {
  color: black;
}

.logout {
  /* border: none;
  background-color: transparent; */
}


.big--size {
  font-size: 70px;
  color: #ccc;
}
.announ-more {
  width: 100%;
  border: none;
  background-color: #9cbca5;
}

.header-has-seller {
  position: absolute;
  top: 2px;
  left: 150px;
  color: rgb(253, 253, 253);
  font-size: 15px;
  cursor: pointer;
}

.paya {
  color: white;
}
.paya:hover{
  color: white;
  /* background: linear-gradient(130deg,#ccc, #999); */
}
.paya:active{
  color: white;
}
.addhref {
  color: black;
}
.addhref:hover {
  color: black;
}

.addhref:active {
  color: black;
}

.wishlist-btn {
  position: absolute;
  width: 70px;
  /* height: 20px; */
  background-color: rgb(59, 119, 59);
  top: -10px;
  right: 0;
  color: white;
  padding: 0px 10px;
  text-align: center;
  display: none;
 transition: transform 0.5s ;
 cursor: pointer;
 border: none;

}

.home-product__item:hover{
  transform: translateY(-10px);
  box-shadow: 0 2px 5px #ccc;
  display: block;
}

.home-product__item:hover .wishlist-btn{
  transform: translateY(-10px);
  box-shadow: 0 2px 5px #ccc;
  border-bottom: 3px dashed white;
  display: block;
}



.has-account {
  color: black;
}
.has-account:active {
  color: black;
}
.has-account:hover {
  color: black;
}
.link-color {
  color: black;
}
.link-color:hover  {
  color: black;
}
.addfr {
  border: none;
  background-color: transparent;
  cursor: pointer;
}