@media only screen and (max-width: 740px) {
    /* ========header ========*/
    html {
        width: 100%;
        margin: 0  auto;
    }

    body {
        width: 100%;
    }

    .cart-shopping {
        width: 100%;
    }

    .header {
        width: 100%;
        justify-content: flex-start;
        /* position: fixed;
        z-index: 100; */
        /* overflow: hidden; */
        position: unset;
    }


    .header-left{
        width: 0%;
        display: none;
    }

    .header-search {
        width: 70%;
        transform: translateX(32px);
        /* position: relative; */
    }

    .header-search-input {
         width: 100%;
         padding: 6px 10px;
         font-size: 13px;
         /* position: absolute; */
    }

    .header-search::after {
        top: 3px;
        right: 35px;
        /* position: absolute; */
    }

    .input-enter {
        transform: translateX(-24px);
    }

    .input-icon {
        font-size: 13px;
        text-align: center;
        transform: translateY(3px);
    }

    .header-search-history{
        width: 100%;
    }

    .header-search-history-heading{
        font-size: 13px;
    }

    .header-search-history-list-item{
        font-size: 10px;
    }



    .header-user {
        width: 30%;
    }

    .has-cart {
        /* font-size: 20x; */
        display: none;
    }

    .has--noti {
        display: none;
    }

    .has--content {
        display: none;
    }

    .has--bar {
        width: 100%;
        height: 100%;
        display: block;
        transform: translateX(30px);
        color: #fff;
        cursor: pointer;
    }

    .has--bar:hover {
        background-color: rgba(22,24,35,0.4);
    }

    .user-button {
        width: 60px;
        padding: 6px 0px;
        font-size: 13px;
        text-align: center;
        margin-right: 8px;
        transform: translateX(3px);
    }

    .header-nav {
        width: 100%;
        display: none;
        list-style: none;
        background-color: #5BAB5A;
        flex-direction: column;
        transform: translateY(0px);
        padding-left: 0;
        /* padding-right: 2px; */
        z-index: 1;
        position: fixed;
        padding-bottom: 4px;
    }
    

    .header-nav__item {
        height: 16.66667%;
        width: 100%;
        padding-left: 16px;
        /* padding-right: 12px; */
        color: #fff;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    
    .header-nav__item:hover {
        background-color: rgba(253, 253, 253, 0.5);
        color: #000;
    }

    .open {
        display: flex;
    }

    /* =======body======== */
    .cart-body {
        /* margin-left: 10px; */
        padding-top: 30px;
    }

    .checkbox {
        position: unset;
        margin-right: 4px ;
    }

    .cart-infor-list {
        width: 100%;
    }

    .cart-infor-child {
        width: 25%;
        padding: 0;
        text-align: center;
    }

    .cart-infor-child:first-child {
        margin-right: 60px;
    }

    .item {
        width: 100%;
    }

    .cart-product-wrap {
        width: 100%;
    }

    .cart-product-infor {
        width: 40%;
    }

    .cart-product-img{
        width: 100px;
        height: 100px;
    }

    .cart-product-name {
        font-size: 16px;
        
    }

    .cart-product-quantity {
        width: 20%;
        height: 28px;
        transform: translateX(-20px);
        flex-direction: row;
        justify-content: space-between;
    }

    .quantity-number {
        font-size: 16px;
        padding: 0;
    }

    .quantity-minus {
        padding: 4px;
    }

    .quantity-add {
        padding: 4px;
    }


    .total {
        transform: translate(-20px, 4px);
    }

    .product-trash {
        transform: unset;
    }

    .cart-footer {
        width: 100%;
    }

    .button-thanhtoan {
        transform: translateX(-120px);
    }

    /*============ footer========== */
    .sign-in{
        margin-top: 10px;
    }
    
    .footer {
        padding-left: 10px;
        
    }

    .footer-heading{
        font-size: 13px;

    }

    .footer-item {
        font-size: 10px;
    }

    .footer-item-icon {
        font-size: 16px;
    }



}