@media screen and (min-width: 1948px){
    .header {
        position: fixed;
        width: 100%;
        height: 89px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #5BAB5A;
        z-index: 100;
    }
    .header-logo {
        transform: translate(100px,18px);
        width: 200px;
        height: 200px;
    }

.header-has-seller {
    position: absolute;
    top: 2px;
    left: 13%;
    color: rgb(253, 253, 253);
    font-size: 18px;
    cursor: pointer;
  }

  .header-search {
    background-color: rgba(22,24,35,0.4) ;
    position: relative;
    border-radius: 13px;
    transform: translateX(100px);
}

.header-search-input {
    min-width: 710px;
}

.header-search-history{
    width: 660px;
}
.header-user {
    transform: translateX(-50px);
}

.user-item {
    margin: 0 10px;
    padding: 8px 20px;
}
.slide-show {
    transform: translateY(14%);
    min-width:70%;
    height:370px;
}
.Anxuan {
    /* width: 00%; */
    animation: slideShow 16s infinite;
  transform: translateY(0%);
  transform: translateX(160px);
  
}


@keyframes slideShow {
    20% {
        margin-left: 0;
    }
    30% {
        margin-left: -150%;
    }
    40% {
        margin-left: -150%;
    }
    50% {
        margin-left: -250%;
    }
    60% {
        margin-left: -250%;
    }
    70% {
        margin-left: -350%;
    }
    80% {
        margin-left: -350%;
    }
    90% {
        margin-left: -450%;
    }
    100% {
        margin-left: -450%;
    }

    
}
.slide-show-pic {
    float: left;
    height: 608px;
    width: 1008px;

    /* flex-direction: column; */
    
}
.company-info {
    margin:  0 20px;
    width: 200px;
    height: 190px;
   /* border: 1px solid #ccc; */


}
.Anxuan-info{
    width: 120px;
    height: 140px;
}
.company-info-name {
    position: absolute;
    font-size: 20px;
    bottom: 5px;

}
.popular-info {
    margin:0 45px;
    flex-direction: row;
}
.product-1 {
    width: 250px;
    height: 250px;
}
.popular-name {
    font-size: 29px;
    font-weight: bold;
}
.popular-content {
    padding-left: 20px;
    font-size: 20px;
}
.add-button {
    padding: 15px 20px;
   transform: translate(0,100px);
   background-color: transparent;
    border: 1px solid #ccc;
    /* border-radius: 50%; */

}
/* .grid__col-2 */
.grid {
    width: 90%;
}
.add-gh{
    padding: 5px 50px;
}
.home-product__item-img {
    width: 280px;
    height:188px;
}
.grid__col-2-4 {
    padding-left: 8px;
    padding-right: 8px;
}
.footer {
   padding-left: 80px;
   /* font-size: 20px; */
}
.footer-heading {
    font-weight: bolder;
    font-size: 22px;
}
.thanhtoandaisy{
    padding-left: 0;
    transform: translateX(-10px);
}
}

/* Mobile: width < 740px */
@media only screen and (max-width: 740px) {

    html {
        width: 100%;
    }

    .app {
    
    }

    .header {
        max-width: 414px;
        justify-content: flex-start;
        position: fixed;
        /* z-index: 100; */
        align-items:center;
        display: flex;
    }


    .header-left{
        display: none;
    }

    .header-search {
        width: 55%;
        transform: translateX(28px);
    }

    .header-search-input {
         width: 100%;
         padding: 6px 10px;
         font-size: 13px;
    }

    .header-search::after {
        top: 3px;
        right: 35px;
        /* position: absolute; */
    }

    .input-enter {
        transform: translateX(-24px);
    }

    .input-icon {
        font-size: 13px;
        text-align: center;
        transform: translateY(3px);
    }

    .header-search-history{
        width: 100%;
    }

    .header-search-history-heading{
        font-size: 13px;
    }

    .header-search-history-list-item{
        font-size: 10px;
    }



    .header-user {
        width: 30%;
        
    }

    .has-cart {
        /* font-size: 20x; */
        display: none;
    }

    .has--noti {
        display: none;
    }

    .has--content {
        display: none;
    }

    .has--bar {
        width: 100%;
        height: 100%;
        display: block;
        transform: translateX(30px);
        color: #fff;
        cursor: pointer;
    }

    .has--bar:hover {
        background-color: rgba(22,24,35,0.4);
    }

    .user-button {
        width: 100px;
        padding: 6px 0px;
        font-size: 13px;
        text-align: center;
        margin-right: 8px;
        /* transform: translateX(3px); */
    }

    .header-nav {
        width: 100%;
        display: none;
        list-style: none;
        background-color: #5BAB5A;
        flex-direction: column;
        transform: translateY(79px);
        padding-left: 0;
        /* padding-right: 2px; */
        z-index: 1;
        position: fixed;
        padding-bottom: 4px;
    }
    

    .header-nav__item {
        height: 16.66667%;
        width: 100%;
        padding-left: 16px;
        /* padding-right: 12px; */
        color: #fff;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    
    .header-nav__item:hover {
        background-color: rgba(253, 253, 253, 0.5);
        color: #000;
    }

    .open {
        display: flex;
    }

    .body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* =========slide-show =========*/
    .slide-container {
        margin-bottom: 50px;
    }

    .slide-show {
        width: 80%;
        height: 200px;
    }

    .Anxuan {
        width: 200px;
        height: 200px;
        transform: translate(-30%, -50%);
    }

    /*========== company info======== */

    .company-container {
        margin: 20px 0px;
        display:flex;
        flex-direction:row;
    }

    .company-info {
        /* position: relative; */
       border-radius: 40px;
       margin-bottom:20px;
       display:flex;
       flex-direction:row;
       /* padding-right:30px; */
       max-width:70px;
       margin: 0 25px;
       transform:translateX(-15px)
    }

    .Anxuan-info {
            position:relative;
             top: -10px;
            border-radius: 50%;
            margin-bottom:0px;
    }

    .company-info-name {
        width:100px;
        position: absolute;
        font-size: 12px;
        text-align: center;
        font-weight: 700;
        padding-top: 13px;
        font-weight: bolder;
        transform:translateX(10px)

    }

    /* =========popular product=========== */
    .popular-product {
        margin-top: 20px;
        display:none;
    }


    /* =========product list=========== */
    .procduct__container {
        padding-right: 4px;
        margin-top:20px;
    }


    .category {
        margin-right: 16px;
        display: none;
    }

    .grid__col-2 {
        width: 25%;
        display: none;
    }

    .grid__col-10 {
        width: 100%;

    }

    .grid__col-2-4 {
        width: 50%;
    }

    .home-product__item-img {
        width: 100%;
        height: 164.66px;
    }

    .home-product__item-name {
        font-size: 13px;
    }

    .home-product__item-price {
        font-size: 13px;
    }

    .home-product__item-quatity {
       font-size: 12px; 
    }

    .btn-buy {
        /* width: 60%; */
    }

    .add-gh {
        padding: 4px 14px;
    }

    .has--plus {
        font-size: 13px;
    }

    /*============ footer========== */
    .sign-in{
        margin-top: 10px;
    }
    
    .footer {
        padding-left: 10px;
        
    }

    .footer-heading{
        font-size: 13px;

    }

    .footer-item {
        font-size: 10px;
    }

    .footer-item-icon {
        font-size: 16px;
    }

}