* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    /* background-color: #ccc; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid #ccc; */
    box-shadow: 0 1px 5px black;
    align-items: center;
    z-index: 1;
    position: fixed;
    background-color: white;
}
.header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.logo {
    width: 160px;
    height: 160px;
    margin-left: 10px;
    transform: translateY(14px);    
}
.title {
    font-size: 25px;
    padding-top: 10px;
    color: rgb(68, 130, 68);
    transform: translateX(-25px);
}
.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0 20px;

}
.seller-account {
    /* background-color: #999; */
    display: flex;
    width: 140px;
    margin: 0 60px;
    border-radius: 29px;
    cursor: pointer;
    align-items: center;
    padding-right: 4px;
    justify-content: center;
    position: relative;
}
.seller-account::after {
    content: '';
    width: 1px;
    height: 30px;
    background-color: rgb(142, 136, 136);
    right: -40px;
    position: absolute;
}
.seller-account:hover {
    background-color: #ccc;
}
.seller-name {
    padding-left: 2px;
    transform: translateY(6.5px);
    right: 0;
    font-weight: 300;
}
.seller-avt {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px 5px;
    margin-left: -2px;
}
.seller-message {
    background:linear-gradient(137deg,rgb(120, 196, 120),rgb(33, 59, 33));
    color: white;
    padding: 13px 10px;
    margin: 0 10px;
    cursor: pointer;
}
.bell-icon {
    margin: 0 10px;
    font-size: 20px;
}
.fa-message {
    color: rgb(163, 202, 163);
}


.body {
    display: flex;
    z-index: 0;
    /* margin-top: 5px; */
    padding-top: 100px;
}
.nav-bar {
    flex:1;
    background-color: white;
    box-shadow:  0 0 4px 0 #ccc;
    height:fit-content;
}

.navbar-list {
    padding: 20px 10px;
    position: relative;
    /* margin-top: 10px; */
    margin-bottom: 0;
    cursor: pointer;

}


.ship-list-2 {
    /* padding-bottom: 10px; */
    margin-bottom: 0;
    list-style: none;
}
.manage-item {
    padding-top: 7px;
}
.navbar-item {
    padding-bottom: 30px;
    padding-left: 10px;
    color: rgb(91, 87, 87);
}
.manage-list {
    padding-bottom: 15px;
}
.manage-list-2 {
    list-style: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.other-navbar-item-title, .marketing-navbar-title
,.manage-product-title, .ship-title  {
    padding-left: 10px;
    font-weight: bolder;
}
.shipment-list {
    padding-bottom: 15px;
}
.ship-contain {
    cursor: pointer;
    padding-top: 7px;
}
.ship-contain:hover, .manage-item:hover {
    color: rgb(100, 150, 100);
}
.container {
    flex:4;
    margin-top: 20px;
}
.container-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-bottom: 0;
    
}
.container-content {
    margin: 10px 10px;
    position: relative;
    border-bottom: 1px solid #ccc;
}
.container-content:first-child::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    left: -22px;
    background-color: black;
}
.content-header {
    /* background-color:rgb(188, 180, 196); */
    padding: 0px 20px;
    width: 105px;
    cursor: pointer;

}
.content-header::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 97%;
    right: -11px;
    top: 0;
    background-color: black;
}

.container-showing {
    /* width: 1135px; */
    background-color: #ccc;
    width: 87.5%;
    margin: 0 80px;
    list-style: none;
   padding-left: 10px;
   padding-right:  10px;

}

.container-item {


}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}
.code-hang {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 20px;
}
.find-code {
    border: 1px solid black;
    height: 32px;
    padding: 0px 20px;
    text-align: center;
    line-height: 32px;
    position: relative;
}
.find-code span {
    padding-top: 3px;
}
.search {
    position: relative;
    border: 1px solid black;
    /* padding: 0px 10px; */
}
.input-code {
    width: 180px;
    height: 30px;
    outline: none;
    
}
.search-icon {
    position: absolute;
    right: 2px;
    top: 6px;
    padding: 0 10px;

}
.order-date {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;

}
.title-date {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-right: 5px;

}
.setdate {
    border: 1px solid black;
    background-color: white;
    padding: 5px 5px;
}
.calendar-icon {
  
}
.fromdate{
    border: 0;

}
.todate {
    border: 0;
}
.xuat {
    border: 1px solid #888;
    margin-right: 20px;
    padding: 5px 10px;
    cursor: pointer;
}
.xuat:active {
    background-color: #999;
}
.xuat:hover{
    background-color: #999;
}

.body-container {
    margin-top: 20px;
    padding-bottom: 50px;
    display: none;
}
.all-header {
    display: flex ;
    list-style: none;

}

.head-title {
    background-color: rgb(225, 218, 219);
    padding-right:20px;
    padding-left:20px;
    margin-right: 3px;
    cursor: pointer;
    z-index: 0;
}
.head-title {
    background-color: rgb(225, 218, 219);
    padding-right:20px;
    padding-left:20px;
    margin-right: 3px;
    cursor: pointer;
    z-index: 0;
}
.head-title {
    background-color: rgb(225, 218, 219);
    padding-right:20px;
    padding-left:20px;
    margin-right: 3px;
    cursor: pointer;
    z-index: 0;
}

.head-title:hover {
    color: white;
}


.body-wrap {
   padding-left: 0;
   height: auto;
   background-color: rgb(234, 228, 228);
   margin: 1px 20px;
    list-style: none;
}
.wrap-item {
    display: none;
    
}
.item-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(234, 228, 228); */
    padding: 20px 20px;
    list-style: none;
}
.stateOfgoods {
    padding-bottom: 0;
    margin-bottom: 0;

}
.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border: 1px solid black;
    cursor: pointer;
}
.filter p {
    margin-bottom: 0;
}
.title-filter {
    /* padding-top: 18px; */
    padding-right: 5px;
}

/* wrap-item 3 */
.filter-has--address{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.sent-address {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    position: relative;
    padding: 5px 10px;
    margin-right: 5px;
    
}
.sent-address-title {
    margin-bottom: 0;
    padding-right: 15px;

}
.sent-address--icon {
    padding: 5px 0px;
    position: absolute;
    right: 0;
    padding-right: 5px;
}

.title-header {
    padding-right: 10px;
}

.range {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    position: relative;
    padding: 5px 10px;
}
/* item-second */

.item-second {
    margin: 0 50px;
    background-color: #888;
}
.list-filter {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.item-filter {
    padding-right: 20px;
    /* padding-left: 10px; */
    position: relative;
    text-align: center;
    cursor: pointer;
}
.item-filter::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #999;
    right: -19px;
}

.item-footer {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #999;
    padding-bottom: 30px;
}
.fa-rectangle-list {
    font-size: 70px;
    padding-bottom: 15px;
}


/* for js */
.body-container.active {
    display: block;
}


.container-content.active {
    background-color: white;
    box-shadow: 0 0 3px 0px #999;
    color: rgb(45, 106, 51);
    opacity: 1;
}
.head-title.active {
    color: rgb(45, 106, 51);
    background-color: white;
}

/* --- */

.wrap-item.active {
    display: block;
}

.all-order {
    display: flex;
    flex-direction: column;
}

.address-choice {
    display: flex;
    flex-direction: column;
    background-color: white;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    text-align: center;
    position: absolute;
    top: 35px;
    z-index: 1;
    display: none;
    width: 100%;
}
.address-choice-item {
    padding: 10px 15px;
    border-bottom: 1px solid black;
    font-size: 13px;

}
.address-choice-item:last-child {
    border-bottom: none;
}
.address-choice-item:hover {
    background-color: #888;
    color: white;
}
.sent-address:hover .address-choice {
    display: block;
}

.find-code-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    z-index: 100;
    background-color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    padding-left: 0;
    left: 0;
    display: none;

}
.code-list-item {
    padding: 5px 0;
    border-bottom: 1px solid black;
    font-size: 13px;
}
.code-list-item:last-child {
    border: none;
}
.code-list-item:hover {
    background-color: #888;
    color: white;
}
.find-code:hover .find-code-list {
    display: block;
}

/* forshipment */
.forshipment {
    display: none;
}

.forshipment.show {
    display: block;
}



/* ----------------------------forgiaohang-------------- */

.forgiaohang {
    
}