@media only screen and (max-width: 740px) {

    html {
        width: 100%;
    }

    .app {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .header {
        max-width: 414px;
        justify-content: flex-start;
        display: flex;
    }


    .header-left{
        width: 0%;
        display: none;
    }

    .header-logo {
        display: none;
    }

    .header-search {
        width: 70%;
        transform: translateX(32px);
        /* position: relative; */
    }

    .header-search-input {
         width: 100%;
         padding: 6px 10px;
         font-size: 13px;
         /* position: absolute; */
         min-width: unset;
    }

    .header-search::after {
        top: 3px;
        right: 35px;
        /* position: absolute; */
    }

    .input-enter {
        transform: translateX(-24px);
    }

    .input-icon {
        font-size: 13px;
        text-align: center;
        transform: translateY(3px);
    }

    .header-search-history{
        width: 100%;
    }

    .header-search-history-heading{
        font-size: 13px;
    }

    .header-search-history-list-item{
        font-size: 10px;
    }



    .header-user {
        width: 30%;
        
    }

    .has-cart {
        /* font-size: 20x; */
        display: none;
    }

    .has--noti {
        display: none;
    }

    .has--content {
        display: none;
    }

    .has--bar {
        width: 100%;
        height: 100%;
        display: block;
        transform: translateX(20px);
        color: #fff;
        cursor: pointer;
    }

    .has--bar:hover {
        background-color: rgba(22,24,35,0.4);
    }

    .user-button {
        width: 60px;
        padding: 6px 0px;
        font-size: 13px;
        text-align: center;
        margin-right: 8px;
        transform: translateX(3px);
    }

    .header-nav {
        width: 100%;
        display: none;
        list-style: none;
        background-color: #5BAB5A;
        flex-direction: column;
        transform: translateY(79px);
        padding-left: 0;
        /* padding-right: 2px; */
        z-index: 1;
        position: fixed;
        padding-bottom: 4px;
    }
    .back {
        color:white;
    }
    

    .header-nav__item {
        height: 16.66667%;
        width: 100%;
        padding-left: 16px;
        /* padding-right: 12px; */
        color: #fff;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    
    .header-nav__item:hover {
        background-color: rgba(253, 253, 253, 0.5);
        color: #000;
    }

    .open {
        display: flex;
    }


    /* product */
    .respon {
        display: none;
    }

    .product-show {
        width: 100%;
        margin: 20px 0px;
        display: flex;
        flex-direction: column;
    }
    .product-information {
        padding:0 15px;
    }
    .product-name {
        font-size:18px;
        white-space: nowrap;
        overflow: hidden;
        font-weight: 600;
        text-overflow: ellipsis;
    }

    .qr-scan {
        right:52%;
    }
    .has-item{
        transform: translateX(40px);
    }

    .shop-show {
        width: 100%;
        margin: 5px 0px;
    }

    .shop-introduce {
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        padding-top: 8px;
        align-items: center;
        justify-content:center;

    }

    .shop-img {
        width: 90px;
        height: 90px;
        border: solid 1px #000;
        border-radius: 50%;
    }

    .shop-basic-infor {
        padding-left: 0;
    }

    .shop-name {
        width: 100px;
        font-size: 16px;
        font-weight: 600;
        margin-top: 10px;
        transform: translateX(4px);
    }

    .shop-basic-infor::after {
        right: -50px;
        top: -128px;
        height: 228px;
    }

    .shop-active {
        font-size: 10px;
    }

    .shop-detail {
        width: 100%;
        flex-direction: column;
        padding-left: 50px;
        align-items: flex-start;
        padding-right: 0;
    }

    .shop-detail-list {
        padding-left: 20px;
        margin-bottom: 0px;
        width:200px;
        font-size:13px;
    }


    
    #shop,
    .shop-evaluate,
    .shop-product {
        width: 100%;
        margin: 10px 0px;
    }

    .about-product{
        margin-right: 0px;
    }

    .about-popular-product {
        display: none;
    }

    .grid__col-2-4{
        width: 50%;
    }

    .addhref{
        width: 100%;
    }

    .home-product__item-img{
        width: 100%;
        min-width: unset;
    }

    .btn-buy-add{

    }

    /* .btn-buy-item {
        width: 70%;
    } */

      /*============ footer========== */
      .sign-in{
        margin-top: 10px;
    }
    
    .footer {
        padding-left: 10px;
        
    }

    .footer-heading{
        font-size: 13px;

    }

    .footer-item {
        font-size: 10px;
    }

    .footer-item-icon {
        font-size: 16px;
    }

}