* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.app {
    font-family: 'Open Sans', sans-serif;
}
.cart-header {
    position: fixed;
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5BAB5A;
    z-index: 1;
}
.header-logo {
    width: 160px;
    height: 160px;
    margin-left: 10px;
    transform: translateY(14px);
    position: relative;

}
.header-search {
    background-color: rgba(22,24,35,0.4) ;
    position: relative;
    border-radius: 13px;
    transform: translateX(100px);
}
.header-search-input {
    position: relative;
    border: none;
    outline: none;
    padding: 10px 25px;
    min-width: 610px;
    border-radius: 13px;
    background-color: rgb(235, 232, 232);

}
.header-search-input:focus ~ .header-search-history {
    display: block;
}

/* history */
.header-search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 560px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 5px #888 ;
    display: none;

}
.header-search-history-heading{
    font-size: 17px;
    margin: 8px 12px;
    color: #777;
}
.header-search-history-list{
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

}
.header-search-history-item {
    text-decoration: none;
    height: 38px;
    /* background-color: #999; */
    padding: 0 12px;
      line-height: 38px;
}
.header-search-history-item:hover {
    cursor: pointer;
    background-color: rgba(248, 248, 248, 0.658);
    border-radius: 5px;
}
.header-search-history-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.search-history-item-link {
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.search-history-item-link:hover {
    color: #999;
}


.header-search::after {
    content: '';
    position: absolute;
    top: 9px;
    right: 45px;
    width: 1px;
    height: 24px;
    background-color: rgba(22,24,35,0.4) ;
}

.input-enter {
    position: absolute;
    border: none;
    background-color: transparent;
}
.input-icon {
    /* position: absolute; */
    transform: translate(-31px,10px);
    background-color: rgba(22,24,35,0,08);
    cursor: pointer;
}
.input-icon :hover{
    background-color: rgba(22,24,35) ;
}

/* user side */
.header-user {
    display: flex;
    align-items: center;
}

.user-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 80px;
    font-size: 24px;
    padding-top:11px;
    
}

.user-item {
    display: flex;
    padding: 8px 20px;
    font-weight: 300;

}
.fa-cart-shopping {
    cursor: pointer;
    color: white;
}
.user-button {
    margin-left: 10px;
    /* margin-right: 5px; */
    border: none;
    font-size: 17px;
    padding: 8px 23px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #2F792E;  
    color: #D9D9D9;
}
.user-button:active {
    background-color: #68df66;
}


/* body */
.body {
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 229, 229);
    padding-top: 100px;
    padding-bottom: 50px;
}
.product-show {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    margin: 20px 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: fit-content;
    
}
.product-show-img {
    display:flex;
    flex-direction: column;
    /* flex: 2; */
}
.img-item {
    width: 150px;
    height: 150px;
}
.has-item {
    width: 250px;
    height: 320px;
    transform: translateX(50%);
}
.img-list {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 0;
}
.img-list-item {
    display: flex;
    padding: 10px 10px;
}
/* product-infor  */

.product-information {
    /* flex: 1; */
    /* margin-left: 45px; */
    
    width: 400px;
    /* transform: translateY(-10%); */

}
.product-name {
    font-size: 25px;
    font-weight: 600;
}
.product-name-evaluate{

}
.last-child{
    position: relative;
    padding-right: 10px;
}
.last-child::after {
    content: '';
    position: absolute;
    border-right: 1px solid #ccc;
    width:1px ;
    height: 18px;
    background-color: red;
    right: 0;
}
.product-has-price {
    position: relative;
    padding: 10px 0;

}
.price-final {
    font-size: 20px;
    font-weight: 600;

}
.price-discount {
    position: absolute;
    font-size: 10px;
    bottom: 0;
    padding-left: 20px;
    padding-right: 10px;
    text-decoration: line-through;

}
.discount-number {
    text-decoration: none;
    position: absolute;
    bottom: 0;
    padding-left: 64px;
    padding-right: 10px;
    font-size: 10px;
}
.voucher {
    margin: 10px 0;
    /* background-color: #ccc; */
    border: 1px solid black;
    width: 100%;
    cursor: pointer;
}
.voucher-title {
    padding: 13px 10px;

}
.voucher-list {
    display: flex;
}
.voucher-item {
    width: 80px;
    height: auto;
    text-align: center;
    border: 1px dashed #ccc;
    margin-left: 20px;
    margin-bottom: 10px;


}
.voucher-item:hover {
    background-color: #999;
}
.product-shipping-add {
    padding: 16px 0;

}

.product-adjust-quantity {
    display: flex; 
    align-items: center;
}
.quantity-title {
    padding-right: 15px;
    padding-top: 3px;
}
.product-quantity {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    /* width: 45%; */
    /* width: fit-content; */
    height: auto;

}
.quantity-minus {
   padding: 0 12px;
   border-radius: none;
   position: relative;
}
.quantity-minus::after {
    position: absolute;
    content: '';
    right: 0px;
    top: -7px;
    width: 1px;
    height: 38px;
    background-color: #ccc;
}

.quantity-number {

    padding: 0 12px;

}

.quantity-add{
   padding: 0 12px;
   border-radius: none;
   position: relative;

}
.quantity-add::before {
    position: absolute;
    content: '';
    left: 0px;
    top: -7px;
    width: 1px;
    height: 38px;
    background-color: #ccc;
}
.btn:active{
    color: #666;
}


/* phanloai */
.phanloai{
    padding: 27px 0;
    display: flex;

}

.phanloai-title {
    padding-right: 15px;
    padding-top: 10px;

}
.btn-phanloai {
    margin: 0 10px;
    padding: 7px 18px;
    background-color: transparent;
    border: 1px solid black;
}
.btn-phanloai:active {
    color: black;
    background-color: rgb(142, 135, 135);
}

.buy-btn {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.btn-buy {
    padding: 10px 14px;
    background-color: rgb(220, 60, 60);
    color: #f2f3f2;
    border: 1px solid rgb(10, 10, 10);

}
.btn-buy:active {
    background-color: rgb(214, 97, 97);

}
.add-button {
    padding: 10px 14px;
    margin: 0px 14px;
    background-color: transparent;
    border: 1px solid black;
    transform: translateY(-0.5px);
}
.add-button:active {
    background-color: #ccc;
    color: black;
}


.shop-show {
    margin: 5px 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.shop-introduce {
    display: flex;
    padding-left: 70px;
    align-items: center;
    left: 0;
}
.shop-img {
    width: 110px;
    height: 150px;
}

.shop-basic-infor {
    padding-left: 30px;
    position: relative;
}
.shop-basic-infor::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100px;
    background-color: #ccc;
    right: -80px;
    top: -17px;
}
.shop-name {

}
.shop-active {

}

.shop-detail {
    display: flex;
    align-items: center;
    padding-right: 100px;
    justify-content: space-between;

}

.shop-detail-list {
    list-style: none;
    padding: 0 50px;

}
.detail-item {
    padding: 7px 0;

}

/* shop */
.shop-product {
    margin: 10px 80px;
    display: flex;
    justify-content: space-between;
}
.about-product {
    flex:4;
    padding: 15px 20px;
    margin-right: 10px;
    background-color: white;
    width: 100%;
}
.product-origin {
    padding: 10px 0;
}
.product-origin--title {
    padding-left:  15px;
    padding-right:  15px;
    margin-bottom: 15px;
    line-height: 50px;
     height: 50px;
     width: 100%;
     background-color: rgb(208, 201, 201);
}
.product-origin-show {
    padding: 0 15px;
}

.show-item {
    

}
.item-content {

}

.product-description {
    height: auto;
}
.description-title {
      padding: 0 15px;
     line-height: 50px;

     width: 100%;
     background-color: rgb(208, 201, 201);


}
.desription-list {
    width: 100%;
    word-wrap: break-word;
    padding: 10px 15px;
    line-height: 30px;

}
/*  */
.about-popular-product {
    background-color: rgb(244, 236, 236);
    list-style: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    max-height: 920px;

}
.about-popular-product-title {
    padding: 10px 0px 3px 0px ;
    font-size: 15px;
    color: #666;
}
.popular-product-img {
    width: 170px;
    height: 180px;
    padding-top: 17px;
}
.popular-product-container {
    width: 100%;
    border-bottom: 1px solid rgb(91, 86, 86);
    padding: 0px 36px;
}
.popular-product-container:last-child {
    border-bottom: none;
}
.popular-product-name {
    margin: 10px 0;
    line-height: 15px;
    font-size: 17px;
    font-weight: 500;

}
.popular-product-price {
    margin-bottom: 0px;
    padding-bottom: 0;
}


/* danh gia */
.shop-evaluate {
    margin: 10px 80px;
    background-color: white;
    
}

.shop-evaluate-title {
    padding: 20px 20px;
}

.shop-evaluate-note {
    font-size: 30px;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.shop-evaluate-note p {
    padding-top: 20px;
}




/* product -more */
.home-product {
    cursor: pointer;
    background-color: white;
    padding: 10px 10px;
    /* margin-bottom: 100px; */
}
#shop {
    margin: 10px 80px;
    width: 100%;
}
.product-title {
    padding: 10px 20px;
    
}
.home-product__item {
    border: 1px solid #999;
    margin-bottom: 10px;
   
}
.home-product__item-name {
    padding: 7px 8px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 600;
    text-overflow: ellipsis;
}
.home-product__item-img {
    min-width: 199.8px;
    height:178px;
}
.home-product__item-price {
    padding-left:  10px;
    padding-right:  10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* footer */
.footer {
    display: flex;
    border-top: 4px solid #5BAB5A;
    /* margin-bottom: 20px; */
    background-color: rgb(213, 205, 205);
    margin-top: 0;
   
}
.footer-heading {
    text-align: left;
    font-size: 15px;
    color: rgb(33, 32, 32);
    font-weight: 900;
    padding-right: 20px;
}

.footer-list{
    list-style: none;
    padding: 0;

}
.footer-item {
    padding: 7px 0;
}
.footer-item__link{
    text-decoration: none;
    color:rgb(42, 42, 41);
    font-size: 14px;
  margin-top: 2px 0;
  font-weight: 400;
}
.footer-item__link:hover {
    color: #5BAB5A;
}
.footer-item-icon {
    padding-right: 5px;
}

.footer-list__pay {
    display: flex;
    flex-wrap: wrap;
}
.footer-list__pay-icon {
    min-width: 20px;
    font-size: 50px;
    padding: 0 10px;
}
.footer-download {
    display: flex;
}
.footer-item__img {
    flex: 1;
    width: 14px;
}
.footer-item__link-img {
    display: flex;
    text-decoration: none;
    color: #777;
    padding: 10px 0;
    align-items: center;
}
.footer-item__link-img:hover {
    color:#5BAB5A;
}



.add-btn-product {
    padding: 7px 16px;
    margin: 0 20px;
    background-color: rgb(241, 62, 62);
    color: rgb(241, 234, 234);
    border: none;
    margin-bottom: 5px;
}
.add-btn-product:active {
    padding: 7px 16px;
    margin: 0 20px;
    background-color: rgb(159, 96, 96);
    color: rgb(235, 229, 229);
}
.intro {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;
}
.btn-buy-add {

    display: flex;
    justify-content: space-evenly;
}
.btn-buy-item {
    margin-top: 3px;
    padding: 7px 20px;
    background-color: transparent;
    border: 1px solid #ccc;
}
.has--plus {
    background-color: rgb(220, 60, 60);
    color: #cce8d4;
    border: none;
}
.description-cer {
    height: auto;
}
.cer-img {
    width: 240px;
    height: 350px;
}
.voucher-note {
    margin: 0 auto;
    padding-bottom: 20px;
    color: #ccc;
}
.evalute-product {
    position: relative;
}
.qr-scan {
    position: absolute;
   right: 30%;
}
.qr-img {
    width: 50px;
    height: 50px;
}

.has--bar {
    display: none;
}

.header-nav{
    display: none;
}