.formanagement {
   padding: 10px 0px;
   display: none;
    /* text-align: center;/ */
}
.formanagement-title{
    text-align: center;
    margin: 20px 0;
}

.product-incart-wrap {
    /* background-color: white; */
    /* box-shadow: 0 0 4px 0 #ccc; */
    /* margin-left: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.incart-quantity {
   margin: 10px 15px;
    padding-left: 20px;
}
.cart-navbar {
    padding: 5px 10px;
    padding-right: 20px;

    /* width: 100px; */
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
   
}
.cart-navbar-title{
    margin: 10px 30px;
    padding: 0;
    width: auto;
    position: relative;
    font-weight: bolder;
    text-align: center;
    padding: 0 17px;
    /* border-right: 1px solid #ccc; */
}
.cart-navbar-title::after {
    /* content: '';
    position: absolute;
    width: 1px;
    height: 60px;
    background-color: black;
    right: 0;
    top: -10px; */
}

.cart-navbar-title:last-child::after {
    /* content: '';
    position: absolute;
    background-color: transparent; */
}
.price-right {
    padding-left: 33px;
}
.cart-navbar-item-wrap {
    display: flex;
    border: 1px solid #ccc;
    align-items: center;
    height: 60px;
}

.cart-navbar-item {
    margin: 0px 30px;
    padding: 10px 15px;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* position: relative; */
    cursor: pointer;
    text-align: center;
    position: relative;

}
.cart-navbar-item::after {
    /* content: '';
    position: absolute;
    width: 1px;
    height: 100px;
    background-color: black;
    right: 0;
    top: -6px; */
}

.cart-navbar-item:last-child::after {
    content: '';
    position: absolute;
    background-color: transparent;
}

.cart-navbar-item .price-right {
    margin-left: 0px;
}

.has--discount:hover {
    color: red;
}


/* modal */
.modal  {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(51, 51, 51, 0.302);
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: 0.5s all ease-out;
    transition-delay: 0.2s;
    display: none;
   
}
.modal.open {
    display: flex;
}

.modal-container {
    position: relative;
    background-color: white;
    width: 600px;
    z-index: 10;
    height: auto;
    opacity: 2;
    padding-bottom: 10px;
}
.header-modal {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
    font-size: 26px;
    font-weight: bold;
    color: white;
    background-color: rgb(172, 74, 74);
    position: relative;
}
.body-modal {
   padding: 0 15px;

}
.body-heading {
    padding-top: 10px;
    font-weight: 600;
    letter-spacing: 0.2;
    font-size: 19px;
    color: rgb(117, 56, 56);
    padding-bottom: 8px;
    margin-bottom: 0;
}
.modal-input {
    width: 100%;
    outline: none;
    padding: 5px 10px;
}

.footer-modal {
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px 17px;
    float: right;
    margin-right: 40px;
    color: rgb(117, 56, 56);

}
.footer-modal:hover {
    background-color:rgb(166, 144, 144) ;
    color: black;
    opacity: 0.9;
}
.footer-modal:active {
    background-color:rgb(117, 56, 56) ;
    color: white;
}

.icon-close {
    position: absolute;
    right: -5px;
    top: -14px;
    z-index: 1;

    cursor: pointer;
}
.icon-close:active {
    color: red;
}

.seller-logout {
    position: absolute;
    top: 53px;
    list-style: none;
    background-color: white;
    width: 100%;
    box-shadow: 0 0 4px 0 #ccc;
    padding-left: 0;
    display: none;
}

.logout-item {
    text-align: center;
    padding: 5px 10px;
    font-weight: bold;
}
.logout-item:hover {
    background-color: #ccc;
}
.color-link, .color-link:hover {
    color: black;
   
}

.seller-account:hover .seller-logout {
    transition-duration: 0.4s;
    display: block;

}


/* forhome-noti-order */
.forhome-noti-order {
    margin: 0 30px;
    display: none;
    flex-direction: column;
    height: fit-content;
    box-shadow: 0 0 4px 0 #ccc;
    cursor: pointer;
}
.noti-order-header {
    color: white;
    border-bottom: 1px solid black;
    padding: 20px 20px;
    background-color: rgb(95, 142, 95);
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}
.noti-order-list {
    padding-left: 0;
    list-style: none;
}

.noti-order-item {
    padding-left: 10px;
    border-bottom:  1px solid #ccc;
    padding-top: 15px;
    padding-right: 10px;
}
.order-alert{
    color: rgb(139, 41, 41);
    font-size: 15px;
    font-weight: 500;
}
.order-note {
    padding-top: 5px;
    font-weight: lighter;
    padding-left: 22px;
    width: 300px;
    white-space: wrap;
}
.fa-bolt {
    padding-right: 5px;
    color: black;
}
.noti-order-item:last-child {
    border: none;
}

.forhome-noti-order.showing {
    display: block;
}
.letter-span {
    font-weight: bolder;
}


.has--discount:hover {
    color: black;
}
.has--discount {
    margin: 0;
    width: 120px;
}
.discount-is:hover {
    color: red;
}

.discount-is{
    position: relative;
}
.trasher {
    position: absolute;
    transform: translateX(2px);
    z-index: 1;
    right:-5px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    display: block;
    top: 9px;
}

.trasher:hover {
    color: black;
}

.nothing-case {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;    
    flex-direction: column;
    border: 1px solid #ccc;
    margin: 0 90px;
}