
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.app {
    font-family: 'Open Sans', sans-serif;
}
.header {
    position: fixed;
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5BAB5A;
    z-index: 1;
}
.header-logo {
    width: 90px;
    height: 100px;
    margin-left: 50px;
    transform: translateY(-23px);

}
.header-search {
    background-color: rgba(22,24,35,0.4) ;
    position: relative;
    border-radius: 13px;
    transform: translateX(100px);
}
.header-search-input {
    position: relative;
    border: none;
    outline: none;
    padding: 10px 25px;
    min-width: 610px;
    border-radius: 13px;
    background-color: rgb(235, 232, 232);

}
.header-search-input:focus ~ .header-search-history {
    display: block;
}

/* history */
.header-search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 560px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 5px #888 ;
    display: none;

}
.header-search-history-heading{
    font-size: 17px;
    margin: 8px 12px;
    color: #777;
}
.header-search-history-list{
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

}
.header-search-history-item {
    text-decoration: none;
    height: 38px;
    /* background-color: #999; */
    padding: 0 12px;
      line-height: 38px;
}
.header-search-history-item:hover {
    cursor: pointer;
    background-color: rgba(248, 248, 248, 0.658);
    border-radius: 5px;
}
.header-search-history-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.search-history-item-link {
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.search-history-item-link:hover {
    color: #999;
}


.header-search::after {
    content: '';
    position: absolute;
    top: 9px;
    right: 45px;
    width: 1px;
    height: 24px;
    background-color: rgba(22,24,35,0.4) ;
}

.input-enter {
    position: absolute;
    border: none;
    background-color: transparent;
}
.input-icon {
    /* position: absolute; */
    transform: translate(-31px,10px);
    background-color: rgba(22,24,35,0,08);
    cursor: pointer;
}
.input-icon :hover{
    background-color: rgba(22,24,35) ;
}

/* user side */
.header-user {
    display: flex;
    align-items: center;
}

.user-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 80px;
    font-size: 24px;
    padding-top:11px;
    
}

.user-item {
    display: flex;
    padding: 8px 20px;
    font-weight: 300;

}
.fa-cart-shopping {
    cursor: pointer;
    color: white;
}
.user-button {
    margin-left: 10px;
    /* margin-right: 5px; */
    border: none;
    font-size: 17px;
    padding: 8px 10px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #2F792E;  
    color: #D9D9D9;
    text-decoration: none;
}
.user-button:active {
    background-color: #68df66;
}
.user-button:hover {
    color: #ccc;
}