
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.shop {
    font-family: 'Open Sans', sans-serif;
    background-color: #ccc;
}
.header {
    position: fixed;
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5BAB5A;
    z-index: 100;
}
.header-logo {
    width: 90px;
    height: 100px;
    margin-left: 50px;
    transform: translateY(-23px);

}
.header-search {
    background-color: rgba(22,24,35,0.4) ;
    position: relative;
    border-radius: 13px;
    transform: translateX(100px);
}
.header-search-input {
    position: relative;
    border: none;
    outline: none;
    padding: 10px 25px;
    min-width: 610px;
    border-radius: 13px;
    background-color: rgb(235, 232, 232);

}
.header-search-input:focus ~ .header-search-history {
    display: block;
}

/* history */
.header-search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 560px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 5px #888 ;
    display: none;

}
.header-search-history-heading{
    font-size: 17px;
    margin: 8px 12px;
    color: #777;
}
.header-search-history-list{
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

}
.header-search-history-item {
    text-decoration: none;
    height: 38px;
    /* background-color: #999; */
    padding: 0 12px;
      line-height: 38px;
}
.header-search-history-item:hover {
    cursor: pointer;
    background-color: rgba(248, 248, 248, 0.658);
    border-radius: 5px;
}
.header-search-history-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.search-history-item-link {
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.search-history-item-link:hover {
    color: #999;
}


.header-search::after {
    content: '';
    position: absolute;
    top: 9px;
    right: 45px;
    width: 1px;
    height: 24px;
    background-color: rgba(22,24,35,0.4) ;
}

.input-enter {
    position: absolute;
    border: none;
    background-color: transparent;
}
.input-icon {
    /* position: absolute; */
    transform: translate(-31px,10px);
    background-color: rgba(22,24,35,0,08);
    cursor: pointer;
}
.input-icon :hover{
    background-color: rgba(22,24,35) ;
}

/* user side */
.header-user {
    display: flex;
    align-items: center;
}

.user-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 80px;
    font-size: 24px;
    padding-top:11px;
    align-items: center;
    
}


.user-item {
    display: flex;
    padding: 8px 20px;
    font-weight: 300;

}

.has-cart {
    display: flex;
    position: relative;
}
.fa-cart-shopping {
    cursor: pointer;
    color: white;
   
}
.cartAmount {
    position: absolute ;
    font-size: 14px;
    right: 10px;
    top: -5px;
    background-color: white;
    color: red;
    padding: 0px 2px;
    border-radius: 50%;
   
}
.user-button {
    margin-left: 10px;
    /* margin-right: 5px; */
    border: none;
    font-size: 17px;
    padding: 8px 23px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #2F792E;  
    color: #D9D9D9;
    text-decoration: none;
}
.user-button:hover {
    color: #888;
}
.user-button:active{
    background-color: #224422;
    color: white;
}


/* body */
.body {
    padding-top: 100px;
    margin: 0 90px;

}
.shop-header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 20px 20px;

    background-color: white;

} 

.shop-info{
    display: flex;
    flex: 1;
    /* justify-content: center; */
    align-items: center;
    padding-left: 20px;
    position: relative;
}
.shop-info::after {
    content: '';
    height: 179px;
    width: 1px;
    position: absolute;
    top: -20.8px;
    right: 0px;
    margin-right: 20px;

    background-color: #ccc;

}
.shop-avt {
   margin-top: -14px;
}
.shop-img{
    width: 90px;
    height: 90px;
    border-radius: 50%;

}
.shop-name {

}

.shop-follow{
    display: flex;
    flex-direction: column;
    position: relative;

    padding: 0 20px;

}
.btn--follow{
    padding: 6px 3px;
    margin-left: 33px;
    border-radius: 15px;
    border: none;
    background-color: #3B794C;
    color: white;
}
.btn--follow:active {
    opacity: 0.8;
    color: white;
}
.btn--chat {
    position: absolute;

    right: -7px;

    top: 4px;
    font-size: 24px;
}
.follower{
    list-style: none;
  
}
.follower-item {
    padding: 5px 0;
}



.shop-description {
    display: flex;
    flex-direction: column;
    flex:2;
    padding-left: 20px;

}
.description-list {
    display: flex;
    padding-left: 30px;
   

}
.description-content{
    list-style: none;
    padding: 0px 20px;
    padding-right: 20px;
}
.description-content li {
    padding: 5px 0;
}
.icon-contact {
    padding: 0 5px;
}
.shop-nav {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-top: 16px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    border-right: 1px solid rgb(136, 136, 136);
    line-height: 20px;
}

.nav-item a {
    color: black;
}


/* shopticket */
.shop-ticket {  
    margin-top: 20px;
    background-color: white;
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-left: 20px;


}

.shop-ticket-title{ 
    /* padding: 20px 10px 20px 20px; */
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-weight: 600;
}
.ticket-coupon {
    display: flex;
}
.ticket-item {
    margin: 0px 20px;
    background: linear-gradient(135deg, #497756,#2f4335);
    width: 400px;
    height: 150px;
    border-right: 6px dashed #fff;
    border-radius: 10px;
    position: relative;
    /* box-shadow: 0 2px 10px #999; */
    color: white;

}

.ticket-item-discount {
    font-size:  30px;
    font-weight: 700;
    position: absolute;
    top: 19px;
    right: 47%;

}

.ticket-item-condition {
    position: absolute;
    top: 50%;
    line-height: 1px;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 300;
}

.coupon-btn {
    position: absolute;
    right: 4%;
    bottom: 30%;
    border: 1px solid #fff;
    background-color: white;
    margin: 10px 10px;
    padding: 2px 4px;
    color: #2f4335;
    cursor: pointer;
}
.coupontext {
    cursor: pointer;
}
.ticket-item-note {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    padding: 0px 30px;
    font-weight: 300;

}

/* .circle1 {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    top: 50%;
    right: 27%;
} */
.circle {
    position: absolute;
    width: 9px;
    height: 9px;
    right: 27%;
    padding: 0 0 ;
}
.circle li {
    border-radius: 50%;
    right: 27%;
    background-color:transparent;
    color: #fff;
   
}

/* san pham noi bat */
.product-fav {
    /* height: 600px; */
    background-color: white;
    margin-bottom: 50px;

}
.title {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 0;
    font-weight: 600;
}


.popular-product {
    /* width: 150px; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 400px;

}

.popular-info {
    margin:0 14px;
    /* display: none; */
    flex-direction: row;
    font-size: 17px;
    border: 1px solid #ccc;
    height: 358px;
    box-shadow: 0 10px 10px rgb(145, 193, 144);
}
.popular-picture {
    width: 150px;
    border-bottom: 1px solid #ccc;
    
}
.product-1 {
    width: 210px;
    height: 180px;
    
}
.popular-content {
    padding-top: 10px;
    margin-left: 20px;
}
.popular-name {
    font-weight: 600;
}
.popular-price {
    font-weight: 500;
    margin-left: 2px;
}
.add-button {
    margin-top: -20px;
    /* margin-left: 3px; */
    
    padding: 8px 8px;
   transform: translate(-10px,20px);
   background-color: transparent;
    border: 1px solid #ccc;
    /* border-radius: 50%; */

}
.fa-bag-shopping {
    font-size: 20px;

}
.add-button:active {
    color: #ccc;
}


/* product ---- danh muc -----*/
.product__container {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 40px;
   
}
.title-product {

    padding-left: 30px;
    padding-bottom: 20px;
    font-weight: 600;
}

.category {
    transform: translateX(-5px);
    padding: 15px 9px;
    height: auto;
    border: 1px solid #ccc;
    width: 190px;
}
.category__list {
    list-style: none;
    font-size: 14px;

}
.category-menu {
    display: flex;
}
.category__heading {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding-left: 10px;
    transform: translateY(-3px);


}
.category__heading-icon {
    font-size: 14px;
    
}

.category-item--active .category-item_link::before {
    content: " ";
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent #ee4d2d;
    left: -8px;
    top: 50%;
    transform: translateY(calc(-50% - 1px));

    
}

.category-item_link {
    text-decoration: none;
    color: black; 
    cursor: pointer;
    display: block;
    position: relative;
    right: 0;
    transition: right linear .1s;
 
}
.category-item_link:hover {
    right: -15px;
 }

 /* filter-price */
 .filter-price {
    transform: translateX(-5px);
    padding-top: 10px;
    padding-left: 10px;
    height: auto;
    border: 1px solid #ccc;
    width: 190px;
    margin-top: 10px;
    
 }

.filter-price-title {
    padding-top: 10px;
    padding-left: 15px;
    font-size: 17px;
    line-height: 10px;
    padding-bottom: 5px;

}
.price-list {
    list-style: none;
    padding-left: 5px;
    font-size: 13px;
}
.price-list-type {
    padding-bottom: 10px;

}
.checkbox-input{
    padding-right: 2px;
}
/* products */

.home-product {
    cursor: pointer;

}
.home-product__item {
    border: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 8px;

}
.home-product__item-name {
    padding: 7px 8px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 600;
    text-overflow: ellipsis;
}
.home-product__item-img {
    width: 189.9px;
    height:178px;
}
.home-product__item-price {
    /* line-height: 5px; */
    /* margin-top: 10px; */
    text-align: center;
    padding: 0 8px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-product__item-quatity {
    font-size: 15px;
}
.home-product__item-orgigin {
    display: flex;
    justify-content: space-between;  
    padding: 0 8px;
    font-size: 16px;

}

.home-product__item-evaluate {
    color: #888;
    padding: 2px 0px;
}
.fa-star {
    color: rgb(241, 241, 117);
}
.home-product__item-ship {
    color: rgb(15, 182, 182);
}

.btn-buy {
    display: flex;
    justify-content: space-evenly;
}
.btn-buy-item {
    margin-top: 3px;
    padding: 7px 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    /* border-radius: 50%; */
  
}
.btn-buy-item:active {
    color: #777;
}


/* uu dai */

.uudai-product {
    background-color: white;
    margin-top: 50px;
    padding-top: 10px;
    /* margin-bottom: 40px; */
    padding-bottom: 140px;
}
.title-uudai {
        padding-left: 30px;
        padding-bottom: 20px;
        padding-top: 20px;
        font-weight: 600;
}
.uudai-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.heading-uudai {
    padding-bottom: 50px;
}
.waving-icon {
    font-size: 100px;
}

.btn--continue {
    margin-top: 40px;
    /* border: 1px solid #ccc; */
    background: linear-gradient(135deg, #7eb48d,#2f4335);
    border: none;
    padding: 10px 30px;
    border-radius: 12px;
    color: rgb(202, 198, 198);
}
.btn--continue a {
    color: rgb(202, 198, 198);
}
.btn--continue:active {
    background: linear-gradient(135deg,#2f4335, #7eb48d);
    
}

/* footer */
.footer {
    margin-top: 80px;
    display: flex;
    border-top: 4px solid #5BAB5A;
    padding-top: 20px;
    /* margin-bottom: 20px; */
    background-color: rgb(213, 205, 205);
   
}
.footer-heading {
    text-align: left;
    font-size: 15px;
    color: rgb(33, 32, 32);
    font-weight: 900;
    padding-right: 20px;
}

.footer-list{
    list-style: none;
    padding: 0;

}
.footer-item {
    padding: 7px 0;
}
.footer-item__link{
    text-decoration: none;
    color:rgb(42, 42, 41);
    font-size: 14px;
  margin-top: 2px 0;
  font-weight: 400;
}
.footer-item__link:hover {
    color: #5BAB5A;
}
.footer-item-icon {
    padding-right: 5px;
}

.footer-list__pay {
    display: flex;
    flex-wrap: wrap;
}
.footer-list__pay-icon {
    min-width: 20px;
    font-size: 50px;
    padding: 0 10px;
}
.footer-download {
    display: flex;
}
.footer-item__img {
    flex: 1;
    width: 14px;
}
.footer-item__link-img {
    display: flex;
    text-decoration: none;
    color: #777;
    padding: 10px 0;
    align-items: center;
}
.footer-item__link-img:hover {
    color:#5BAB5A;
}







/* announcement */
/* .has-cart {
    display: flex;
    position: relative;
}
.fa-bell {
    position: relative;
} */
